<%= simple_form_for(@profile,:html => { :class => 'form-inline' }) do |f| %>
<%= f.error_notification %>
<fieldset>
    <legend>Contact Information:</legend>
    <div class="col-sm-6">
        <%= f.input :street %><div class="clear"></div>
        <%= f.input :external %>
        <%= f.input :internal %><div class="clear"></div>
        <%= f.input :colonia %>
        <%= f.input :cp %><div class="clear"></div>
        <%= f.input :city %><div class="clear"></div>
        <%= f.association :country %><div class="clear"></div>
        <%= f.association :state %><div class="clear"></div>
        <%= f.input :emergency_phone %>
    </div>
    <div class="col-sm-3">
        <%= f.input :additional_email_1 %>
        <%= f.input :additional_email_2 %>
    </div>
    <div class="col-sm-3">
        <%= f.input :phones_1 %>
        <%= f.input :phone_type_1 %>
        <%= f.input :phones_2 %>
        <%= f.input :phone_type_2 %>
    </div>
</fieldset>
<hr class="hr-normal">
<div class="form-actions">
    <div class="row">
        <div class="col-sm-7 col-sm-offset-5">
            <%= button_tag( :class => "btn btn-primary btn-lg") do %>
            <i class="icon-save"></i>
            Save Contact Information
            <% end %>
        </div>
    </div>
</div>
<% end %>
