<!-- // TITULO -->
<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h1 class="pull-left">
        <i class="icon-edit"></i>
        <span>Catálogo de Aula</span>
      </h1>
      <div class="pull-right">
        <ul class="breadcrumb">
          <li>
            <a href="index.html">
              <i class="icon-home"></i>
            </a>
          </li>
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li>
            Catálogos
          </li>
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li class="active">Aula</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- .// TITULO -->

<!-- // TABLE -->
<div class="box bordered-box blue-border">
  <div class="box-header blue-background">
    <div class="title">
      Aula
    </div>
  </div>
  <div class="box-content box-double-padding">
    <%= simple_form_for(@classroom,:class=>'form',:style=>'margin-bottom:0;') do |f| %>
    <%= f.error_notification %>
    <fieldset>
      <div class="col-sm-4">
        <div class="box">
          <div class="lead">
            <i class="icon-edit text-contrast"></i>
            Datos Generales
          </div>
          <small class="text-muted">Ingrese los datos generales. El campo aulas debe ser número haciendo referencia a la cantidad de aulas disponibles para grupos en el Campus.</small>
        </div>
      </div>
      <div class="col-sm-7 col-sm-offset-1">
        <div class="form-group">
          <%= f.association :franchise, :label=>'Franquicia',:class=>'select2 form-control' %>
        </div>
        <div class="form-group">
          <%= f.association :campus, :label=>'Campus', :class=>'select2 form-control' %>
        </div>
        <div class="form-group">
          <%= f.input :name, :label=>'Nombre',:class=>'form-control' %>
        </div>
        <div class="form-group">
          <%= f.input :max_capacity, :label=>'Capacidad Max', :class=>'form-control' %>
        </div>
      </div>
    </fieldset>
    <hr class="hr-normal">
    <div class="form-actions">
      <div class="row">
        <div class="col-sm-7 col-sm-offset-5">
          <%= button_tag( :class => "btn btn-primary btn-lg") do %>
          <i class="icon-save"></i>
          Guardar
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<!-- .// TABLE -->
<% content_for :specific_js do %>
<script type="text/javascript">
  $(document).ready(function(){
    $('#classroom_franchise_id').change(function(){
      var val = $(this).val();
      $('#classroom_campus_id').select2('val','');
      $.ajax({
        type: 'GET',
        url: '/campuses/get_by_franchise_id?franchise_id='+val,
        success: function(data){
          if(data){
            var html_element='';
            $.each(data,function(index,value){
              html_element+="<option value="+value.id+">"+value.name+"</option>"
            })
            $("#classroom_campus_id").html(html_element);
          }
        }
      })
    });
  })
</script>
<% end %>