<!-- // TITULO -->
<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h1 class="pull-left">
        <i class="icon-list"></i>
        <span><%= t('classroom.plural') %></span>
      </h1>
      <div class="pull-right">
        <ul class="breadcrumb">
          <li>
          <a href="index.html">
            <i class="icon-home"></i>
          </a>
          </li>
          <li class="separator">
          <i class="icon-angle-right"></i>
          </li>
          <li>
          <%= t('general.catalogues') %>
          </li>
          <li class="separator">
          <i class="icon-angle-right"></i>
          </li>
          <li class="active"><%= t('classroom.plural') %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- .// TITULO -->

<!-- // TABLE -->
<div class='box bordered-box blue-border' style='margin-bottom:0;'>
  <div class='box-header blue-background'>
    <div class='title'><%= t('classroom.plural') %></div>
    <div class='actions'>
      <%= link_to t('classroom.new'), new_classroom_path, :class=>'btn btn-large btn-success' %>
    </div>
  </div>
  <div class='box-content box-no-padding'>
    <div class='col-sm-12'>
      <br/>
      <div class='form-inline'>
        <label>Filter By Campus</label>
        <div class='form-group'><%= select_tag "filter_campus", options_from_collection_for_select(@campus, "id", "name", params[:campus_id]), include_blank: 'All Campus', class:'form-control' %></div>
      </div>
    </div>
    <div class='responsive-table'>
      <div class='scrollable-area'>
        <table id='classrooms-data-table' class='table table-bordered table-striped' style='margin-bottom:0;'>
          <thead>
            <tr>
              <th><%= t('franchise.singular') %></th>
              <th><%= t('campus.singular') %></th> 
              <th><%= t('general.name') %></th>
              <th>Capacidad Max</th>
              <th>Consecutivo</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @classrooms.each do |classroom| %>
              <tr>
              <td><%= classroom.franchise.try(:name) %></td>
              <td><%= classroom.campus.try(:name) %></td>
              <td><%= classroom.name %></td>
              <td><%= classroom.max_capacity %></td>
              <td><%= classroom.consecutive %></td>
              <td>
                <div class='text-right'>
                  <%= link_to edit_classroom_url(classroom), class: 'btn btn-success btn-xs' do %>
                    <i class='icon-edit'></i>
                <% end %>
                  <%= link_to classroom, class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: t('general.are_you_sure') } do %>
                    <i class='icon-remove'></i>
                <% end %>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- .// TABLE -->
<% content_for :specific_js do %>
<script type='text/javascript'>


$(document).ready(function(){
    $('select#filter_campus').change(function(){
      window.location.href = '/classrooms/filter_campus?campus_id='+$(this).val() 
    });
    var dt, sdom;
    var elem = '#classrooms-data-table';
    if ($(elem).data("pagination-top-bottom") === true) {
      sdom = "<'row datatables-top'<'col-sm-6'l><'col-sm-6 text-right'pf>r>t<'row datatables-bottom'<'col-sm-6'i><'col-sm-6 text-right'p>>";
    } else if ($(elem).data("pagination-top") === true) {
      sdom = "<'row datatables-top'<'col-sm-6'l><'col-sm-6 text-right'pf>r>t<'row datatables-bottom'<'col-sm-6'i><'col-sm-6 text-right'>>";
    } else {
      sdom = "<'row datatables-top'<'col-sm-6'l><'col-sm-6 text-right'f>r>t<'row datatables-bottom'<'col-sm-6'i><'col-sm-6 text-right'p>>";
    }
    dt = $(elem).dataTable({
        sDom: sdom,
        sPaginationType: "bootstrap",
        "iDisplayLength": $(elem).data("pagination-records") || 10,
        oLanguage: {
        sLengthMenu: "_MENU_ records per page"
        },
        aoColumns: [
          { "bSearchable": false },
          { "bSearchable": false },
          null,
          { "bSearchable": false },
          { "bSearchable": false },
          { "bSearchable": false }
        ]
    });
    dt.closest('.dataTables_wrapper').find('div[id$=_filter] input').css("width", "200px");
    dt.closest('.dataTables_wrapper').find('input').addClass("form-control input-sm").attr('placeholder', 'Search');
})
</script>
<% end %>
