<%= simple_form_for(@person,:html => { :class => 'form-inline', :multipart=>true }) do |f| %>
<%= f.error_notification %>
<fieldset>
  <legend>General Information</legend>
  <table border="0" width="100%">
  <% if current_user.active_role=='super_administrator' %>
    <tr>
      <td><%= f.association :franchise, :label=>'Franquicia', :input_html=>{class:'input-sm'}%></td>
      <td colspan="2"><%= f.association :campus, :label=>'Campus', :input_html=>{class:'input-sm'} %></td>
    </tr>
  <% end %>
  <tr>
    <td><%= f.input :curp, :label=>'CURP' , :input_html=>{class:'input-sm'}%></td>
    <td><%= f.input :rfc, :label=>'RFC' , :input_html=>{class:'input-sm'}%></td>
    <td><%= f.input :email, :label=>'Email' , :input_html=>{class:'input-sm'}%></td>
  </tr>
  <tr>
    <td><%= f.input :name, :label=>'Name(s)' , :input_html=>{class:'input-sm'}%></td>
    <td><%= f.input :fathers_maiden_name, :label=>'Fathers Maiden Name' , :input_html=>{class:'input-sm'}%></td>
    <td><%= f.input :mothers_maiden_name, :label=>'Mothers Maiden Name' , :input_html=>{class:'input-sm'}%></td>
  </tr>
  <tr>
    <td><%= f.association :country, :label=>'Birth Country' , :input_html=>{class:'input-sm'}%></td>
    <td><%= f.input :birthday, :label=>'Birthday', as: :string, input_html: { class: "datepicker input-sm" } %></td>
    <td><%= f.association :state, :label=>'Birth State' , :input_html=>{class:'input-sm'}%></td>
  </tr>
  <tr>
    <td><%= f.input :profile_picture, :label=>'Profile Picture' %></td>
    <% if @person.profile_picture.exists? %>
      <td><%= image_tag @person.profile_picture.url(:thumb) %></td>
    <% end %>
  </tr>
  </table>
</fieldset>
<br/><br/>
<fieldset>
  <legend>Contact Information (Living Addresses)</legend>
  <table width="100%" border="0">
  <%= f.simple_fields_for :person_living_address do |p| %>
    <tr>
      <td colspan="3"><%= p.input :street , :input_html=>{class:'input-sm'}%></td>
    </tr>
    <tr>
      <td><%= p.input :num_ext , :input_html=>{class:'input-sm'}%></td>
      <td colspan="2"><%= p.input :num_int , :input_html=>{class:'input-sm'}%></td>
    </tr>
    <tr>
      <td><%= p.input :colonia , :input_html=>{class:'input-sm'}%></td>
      <td><%= p.input :cp , :input_html=>{class:'input-sm'}%></td>
      <td><%= p.input :municipio , :input_html=>{class:'input-sm'}%></td>
    </tr>
    <tr>
      <td><%= p.association :country, :input_html=>{class:'input-sm'} %></td>
      <td><%= p.association :state , :input_html=>{class:'input-sm'}%></td>
      <td><%= p.input :phone_emergency , :input_html=>{class:'input-sm'}%></td>
    </tr>
  <% end %>
    <tr>
      <td>
        <%= f.simple_fields_for :person_emails do |person_email| %>
        <%= render 'person_email_fields', :f => person_email %>
        <% end %>
        <div class='links'>
          <br/>
          <%= link_to_add_association 'Add Email', f, :person_emails, class:'btn btn-sm btn-info' %>
        </div>
      </td>
      <td colspan="2">
        <%= f.simple_fields_for :contact_telephones do |contact_telephone| %>
          <%= render 'contact_telephone_fields', :f => contact_telephone %>
        <% end %>
        <div class='links'>
          <br/>
          <%= link_to_add_association 'Add Telephone', f, :contact_telephones, class: 'btn btn-sm btn-info' %>
        </div>
      </td>
    </tr>
  </table>
</fieldset>
<br/><br/>
<fieldset>
  <legend>Related People (Relationships)</legend>
  <%= f.simple_fields_for :related_people do |related_person| %>
  <%= render 'related_person_fields', :f => related_person %>
  <% end %>
  <div class='links'>
    <%= link_to_add_association 'Add Relationships', f, :related_people, class: 'btn btn-sm btn-info' %>
  </div>
</fieldset>
<br/><br/>
<fieldset>
  <legend>Work Place Information</legend>
  <%= f.simple_fields_for :person_work_place do |w| %>
  <table width="100%" border="0">
    <tr>
      <td><%= w.input :empresa, :label=>'Empresa' , :input_html=>{class:'input-sm'}%></td>
      <td><%= w.input :puesto, :label=>'Puesto'  , :input_html=>{class:'input-sm'}%></td>
      <td><%= w.input :calle, :label=>'Calle'  , :input_html=>{class:'input-sm'}%></td>
      <td><%= w.input :municipio, :label=>'Municipio'  , :input_html=>{class:'input-sm'}%></td>
    </tr>
    <tr>
      <td><%= w.input :num_ext, :label=>'Num Ext'  , :input_html=>{class:'input-sm'}%></td>
      <td colspan="2"><%= w.input :num_int, :label=>'Num Int'  , :input_html=>{class:'input-sm'}%></td>
    </tr>
    <tr>
      <td><%= w.association :country, :label=>'Pais'  , :input_html=>{class:'input-sm'}%></td>
      <td><%= w.input :colonia, :label=>'Colonia'  , :input_html=>{class:'input-sm'}%></td>
      <td><%= w.input :cp, :label=>'CP.'  , :input_html=>{class:'input-sm'}%></td>
      <td><%= w.association :state, :label=>'Estado'  , :input_html=>{class:'input-sm'}%></td>
    </tr>
  <% end %>
  </table>
</fieldset>
<br/><br/>
<div class="row">
  <div class="col-sm-12">
    <%= button_tag( :class => "btn btn-primary btn-lg") do %>
    <i class="icon-save"></i>
    Save
    <% end %>
  </div>
</div>
<% end %>
<% content_for :specific_js do %>
<script type="text/javascript">
  function get_state_by_country_id(country_select, state_select) {
    $('#'+country_select).change(function(){
      var val = $(this).val();
      $.ajax({
        type: 'GET',
        url: '/people/get_state_by_country_id?country_id='+val,
        success: function(data){
          if(data){
            var html_element='';
            $.each(data,function(index,value){
              html_element+="<option value="+value.id+">"+value.name+"</option>"
            })
            $('#'+state_select).html(html_element);
          }
        }
      })
    });
  }

  function get_campus_by_franchise_id(franchise_select, campus_select) {
    $('#'+franchise_select).change(function(){
      var val = $(this).val();
      $.ajax({
        type: 'GET',
        url: '/people/get_campus_by_franchise_id?franchise_id='+val,
        success: function(data){
          if(data){
            var html_element='';
            $.each(data,function(index,value){
              html_element+="<option value="+value.id+">"+value.name+"</option>"
            })
            $('#'+campus_select).html(html_element);
          }
        }
      })
    });
  }

  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: "yyyy-mm-dd"
    }).on('changeDate', function(e){
        $(this).datepicker('hide');
    });
    get_state_by_country_id('person_country_id', 'person_state_id');
    get_campus_by_franchise_id('person_franchise_id', 'person_campus_id')
    get_state_by_country_id('person_person_living_address_attributes_country_id','person_person_living_address_attributes_state_id');
    get_state_by_country_id('person_person_work_place_attributes_country_id', 'person_person_work_place_attributes_state_id');
  })
</script>
<% end %>
