<!-- // TITULO -->
<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1 class="pull-left">
				<i class="icon-edit"></i>
				<span><%= t('people.plural')%></span>
			</h1>
			<div class="pull-right">
				<ul class="breadcrumb">
					<li>
						<a href="index.html">
							<i class="icon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="icon-angle-right"></i>
					</li>
					<li>
						Catálogos
					</li>
					<li class="separator">
						<i class="icon-angle-right"></i>
					</li>
					<li class="active"><%= t('people.singular')%></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- .// TITULO -->

<!-- // TABLE -->
<div class="box bordered-box blue-border">
	<div class="box-header blue-background">
		<div class="title"><%= t('people.singular')%></div>
	</div>
	<div class="box-content box-double-padding">
    <%= simple_form_for(@person,:html => { :class => 'form', :multipart=>true }) do |f| %>
		<%= f.error_notification %>
		<fieldset>
			<div class="col-sm-4">
				<div class="box">
					<div class="lead">
						<i class="icon-edit text-contrast"></i>
						<%= t('general.general_info') %>
					</div>
					<small class="text-muted"><%= t('general.insert_general_info') %></small>
				</div>
			</div>
			<div class="col-sm-7 col-sm-offset-1">
          <% if current_user.active_role=='super_administrator' %>
            <%= f.association :franchise, as: :hidden, input_html: {value: session[:active_franchise]} %>
          <% else %>
            <%= f.association :franchise, as: :hidden, input_html: {value: current_user.person.franchise_id} %>
          <% end %>
          <%= f.input :campus_id, :collection=>@campus, :class=>'form-control', :label=>'Campus' %>
          <%= f.input :curp, :class=>'form-control', :label=>'CURP'%>
          <%= f.input :rfc, :class=>'form-control', :label=>'RFC'%>
          <%= f.input :email, :class=>'form-control', :label=>'E-mail'%>
          <%= f.input :first_name, :class=>'form-control', :label=>'Nombre'%>
          <%= f.input :fathers_maiden_name, :class=>'form-control', :label=>'Apellido Paterno'%>
          <%= f.input :mothers_maiden_name, :class=>'form-control', :label=>'Apellido Materno' %>
          <%= f.association :country, :class=>'form-control', :label=>'Pais'%>
          <%= f.association :state, :class=>'form-control', :label=>'Estados'%>
          <%= f.input :birthday, :class=>'form-control', :label=>'Birthday', as: :string %>
          <%= f.input :profile_picture, :label=>'Añadir imagen de perfil' %>
          <% if @person.profile_picture.exists? %>
            <label class="col-md-7 control-label">Existing Picture</label>
            <div class="col-md-5"><%= image_tag @person.profile_picture.url(:thumb) %></div>
          <% end %>
			</div>
		</fieldset>
		<hr class="hr-normal">
		<fieldset>
			<div class="col-sm-4">
				<div class="box">
					<div class="lead">
						<i class="icon-edit text-contrast"></i>
						<%= t('people.contact_info')%>
					</div>
					<small class="text-muted">Información de contacto (Direcciones Vivienda)</small>
				</div>
			</div>
			<div class="col-sm-7 col-sm-offset-1">
        <%= f.simple_fields_for :person_living_address do |p| %> 
          <%= p.input :street, :class=>'form-control', :label=>'general.street'%>
          <%= p.input :num_ext, :class=>'form-control', :label=>'Num Ext'%>
          <%= p.input :num_int, :class=>'form-control', :label=>'Num Int'%>
          <%= p.input :colonia, :class=>'form-control', :label=>'Colonia'%>
          <%= p.input :cp, :class=>'form-control', :label=>'CP'%>
          <%= p.input :municipio, :class=>'form-control', :label=>'Municipio'%>
          <%= p.association :country, :class=>'form-control', :label=>'Pais'%>
          <%= p.association :state, :class=>'form-control', :label=>'Estados'%>
          <%= p.input :phone_emergency, :class=>'form-control', :label=>'Teléfono de emergencia'%>
        <% end %>
        <div class="col-md-12">
        </div>
			</div>
		</fieldset>
		<fieldset>
			<div class="col-sm-4">
				<div class="box">
					<small class="text-muted">Agregar Email de Contacto</small>
				</div>
			</div>
			<div class="col-sm-7 col-sm-offset-1">
          <%= f.simple_fields_for :person_emails do |person_email| %>
            <%= render 'person_email_fields', :f => person_email %>
          <% end %>
          <div class='links'>
            <%= link_to_add_association 'Agregar Email', f, :person_emails, class:'btn btn-sm btn-info' %>
          </div>
			</div>
    </fieldset>
    <hr class="normal">
		<fieldset>
			<div class="col-sm-4">
				<div class="box">
					<small class="text-muted">Agregar Teléfono de Contacto</small>
				</div>
			</div>
			<div class="col-sm-7 col-sm-offset-1">
          <%= f.simple_fields_for :contact_telephones do |contact_telephone| %>
            <%= render 'contact_telephone_fields', :f => contact_telephone %>
          <% end %>
          <div class='links'>
            <%= link_to_add_association 'Agregar Teléfono', f, :contact_telephones, class: 'btn btn-sm btn-info' %>
          </div>
			</div>
		</fieldset>
		<hr class="hr-normal">
		<fieldset>
			<div class="col-sm-4">
				<div class="box">
					<div class="lead">
						<i class="icon-edit text-contrast"></i>
						Personas relacionadas
					</div>
					<small class="text-muted">Agregar personas relacionadas (Parentesco)</small>
				</div>
			</div>
			<div class="col-sm-7 col-sm-offset-1">
          <%= f.simple_fields_for :related_people do |related_person| %>
            <%= render 'related_person_fields', :f => related_person %>
          <% end %>
          <div class='links'>
            <%= link_to_add_association 'Agregar parentesco', f, :related_people, class: 'btn btn-sm btn-info' %>
          </div>
			</div>
		</fieldset>
		<hr class="hr-normal">
		<fieldset>
			<div class="col-sm-4">
				<div class="box">
					<div class="lead">
						<i class="icon-edit text-contrast"></i>
						Información Lugar de Trabajo
					</div>
					<small class="text-muted">Agregar Información de lugar de trabajo</small>
				</div>
			</div>
			<div class="col-sm-7 col-sm-offset-1">
        <%= f.simple_fields_for :person_work_place do |w| %> 
          <%= w.input :empresa, :class=>'form-control', :label=>'Empresa'%>
          <%= w.input :puesto, :class=>'form-control', :label=>'Puesto'%>
          <%= w.input :calle, :class=>'form-control', :label=>'Calle'%>
          <%= w.input :municipio, :class=>'form-control', :label=>'Municipio'%>
          <%= w.input :num_ext, :class=>'form-control', :label=>'Num Ext'%>
          <%= w.input :num_int, :class=>'form-control', :label=>'Num Int'%>
          <%= w.association :country, :class=>'form-control', :label=>'Pais'%>
          <%= w.association :state, :class=>'form-control', :label=>'Estados'%>
          <%= w.input :colonia, :class=>'form-control', :label=>'Colonia'%>
          <%= w.input :cp, :class=>'form-control', :label=>'CP'%>
        <% end %>
			</div>
		</fieldset>
		<hr class="hr-normal">
		<div class="form-actions">
			<div class="row">
				<div class="col-sm-7 col-sm-offset-5">
					<%= button_tag( :class => "btn btn-primary btn-lg") do %>
					<i class="icon-save"></i>
					<%= t('general.save') %>
					<% end %>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>
<!-- .// TABLE -->
<% content_for :specific_js do %>
<script type="text/javascript">
  function get_state_by_country_id(country_select, state_select) {
    if($('#'+country_select).val()==''){
      $('#'+state_select).html('');
    }
    $('#'+country_select).change(function(){
      var val = $(this).val();
      $.ajax({
        type: 'GET',
        url: '/people/get_state_by_country_id?country_id='+val,
        success: function(data){
          if(data){
          var html_element='<option></option>';
            $.each(data,function(index,value){
              html_element+="<option value="+value.id+">"+value.name+"</option>"
            })
            $('#'+state_select).html(html_element);
          }
        }
      })
    });
  }

  function get_campus_by_franchise_id(franchise_select, campus_select) {
    $('#'+franchise_select).change(function(){
      var val = $(this).val();
      $.ajax({
        type: 'GET',
        url: '/people/get_campus_by_franchise_id?franchise_id='+val,
        success: function(data){
          if(data){
            var html_element='';
            $.each(data,function(index,value){
              html_element+="<option value="+value.id+">"+value.name+"</option>"
            })
            $('#'+campus_select).html(html_element);
          }
        }
      })
    });
  }

  $(document).ready(function(){
    $('#person_birthday').datepicker({
      format: "yyyy-mm-dd"
    }).on('changeDate', function(e){
        $(this).datepicker('hide');
    });
    get_state_by_country_id('person_country_id', 'person_state_id');
    get_campus_by_franchise_id('person_franchise_id', 'person_campus_id')
    get_state_by_country_id('person_person_living_address_attributes_country_id','person_person_living_address_attributes_state_id');
    get_state_by_country_id('person_person_work_place_attributes_country_id', 'person_person_work_place_attributes_state_id');
  })
</script>
<% end %>
