<%= simple_form_for(@person,:html => { :class => 'form-inline' }) do |f| %>
<%= f.error_notification %>
<fieldset>
  <legend>General Information</legend>
  <%= f.input :curp, :label=>'CURP' %>
  <%= f.input :rfc, :label=>'RFC' %>
  <%= f.input :email, :label=>'Email' %>
  <div class='clear'></div>
  <%= f.input :name, :label=>'Name(s)' %>
  <%= f.input :fathers_maiden_name, :label=>'Fathers Maiden Name' %>
  <%= f.input :mothers_maiden_name, :label=>'Mothers Maiden Name' %><div class='clear'></div>
  <%= f.association :country, :label=>'Birth Country' %>
  <%= f.input :birthday, :label=>'Birthday' %><div class='clear'></div>
  <%= f.association :state, :label=>'Birth State' %>
</fieldset>

<fieldset>
  <legend>Contact Information (Living Addresses)</legend>
  <%= f.input :contact_street, :label=>'Street' %><div class='clear'></div>
  <%= f.input :contact_num_ext, :label=>'Num Ext.' %><div class='clear'></div>
  <%= f.input :contact_num_int, :label=>'Num Int.' %><div class='clear'></div>
  <%= f.input :contact_colonia, :label=>'Colonia' %><div class='clear'></div>
  <%= f.input :contact_cp, :label=>'CP.' %><div class='clear'></div>
  <%= f.input :contact_municipio, :label=>'Municipio' %><div class='clear'></div>
  <%= f.association :contact_state, :label=>'Estado' %><div class='clear'></div>
  <%= f.association :contact_country, :label=>'Pais' %><div class='clear'></div>
  <%= f.input :contact_phone_emergency, :label=>'Telefono Emergencias' %><div class='clear'></div>
</fieldset>

<fieldset>
  <legend>Related People (Relationships)</legend>
</fieldset>

<fieldset>
  <legend>Work Place Information</legend>
</fieldset>

<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>
