<style>
.form-horizontal .control-label{font-size:13px;}
</style>
<%= simple_form_for(@person,:html => { :class => 'form form-horizontal', :multipart=>true }) do |f| %>
<%= f.error_notification %>
 
  <fieldset>
    <legend>General Information</legend>
      <% if current_user.active_role=='super_administrator' %>
        <div class="form-group">
          <label class="col-md-1 control-label">Franquicia</label>
          <div class="col-md-2">
            <%= f.association :franchise, :label=>false, :input_html=>{class:'input-sm'}%>
          </div>
          <label class="col-md-1 control-label">Campus</label>
          <div class="col-md-2">
            <%= f.association :campus, :label=>false, :input_html=>{class:'input-sm'} %>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <label class="col-md-1 control-label">CURP</label>
        <div class="col-md-2">
          <%= f.input :curp, :label=>false , :input_html=>{class:'input-sm'}%>
        </div>
        <label class="col-md-1 control-label">RFC</label>
        <div class="col-md-2">
          <%= f.input :rfc, :label=>false , :input_html=>{class:'input-sm'}%>
        </div>
        <label class="col-md-1 control-label">E-mail</label>
        <div class="col-md-2">
          <%= f.input :email, :label=>false , :input_html=>{class:'input-sm'}%>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">First Name</label>
        <div class="col-md-2">
          <%= f.input :first_name, :label=>false , :input_html=>{class:'input-sm'}%>
        </div>
        <label class="col-md-2 control-label">Last Name</label>
        <div class="col-md-2">
          <%= f.input :last_name, :label=>false , :input_html=>{class:'input-sm'}%>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">Father's Maiden Name</label>
        <div class="col-md-2">
          <%= f.input :fathers_maiden_name, :label=>false , :input_html=>{class:'input-sm'}%>
        </div>
        <label class="col-md-2 control-label">Mother's Maiden Name</label>
        <div class="col-md-2">
          <%= f.input :mothers_maiden_name, :label=>false , :input_html=>{class:'input-sm'}%>
        </div>
      </div>    
      <div class="form-group">
        <label class="col-md-1 control-label">Country</label>
        <div class="col-md-2">
          <%= f.association :country, :label=>false , :input_html=>{class:'input-sm'}%>
        </div>
        <label class="col-md-1 control-label">Birthday</label>
        <div class="col-md-2">
          <%= f.input :birthday, :label=>false, as: :string, input_html: { class: "datepicker input-sm" } %>
        </div>
        <label class="col-md-2 control-label">Seleccionar Archivo</label>
        <div class="col-md-2">
          <%= f.input :profile_picture, :label=>false %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-1 control-label">State</label>
        <div class="col-md-2">
          <%= f.association :state, :label=>false , :input_html=>{class:'input-sm'}%>
        </div>
        <% if @person.profile_picture.exists? %>
          <label class="col-md-5 control-label">Existing Picture</label>
          <div class="col-md-4"><%= image_tag @person.profile_picture.url(:thumb) %></div>
        <% end %>
      </div>
  </fieldset>
  <hr class="hr-normal">
  <fieldset>
    <legend>Contact Information (Living Addresses)</legend>
      <div class="col-lg-4">
        <%= f.simple_fields_for :person_living_address do |p| %> 
          <div class="form-group">
            <label class="col-md-3 control-label">Street</label>
            <div class="col-md-9">
              <%= p.input :street , :label=>false, :input_html=>{class:'input-sm'}%>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Num Ext</label>
            <div class="col-md-3">
              <%= p.input :num_ext , :label=>false, :input_html=>{class:'input-sm'}%>
            </div>
            <label class="col-md-3 control-label">Num Int</label>
            <div class="col-md-3">
              <%= p.input :num_int , :label=>false, :input_html=>{class:'input-sm'}%>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Colonia</label>
            <div class="col-md-3">
              <%= p.input :colonia , :label=>false, :input_html=>{class:'input-sm'}%>
            </div>
            <label class="col-md-3 control-label">CP.</label>
            <div class="col-md-3">
              <%= p.input :cp , :label=>false, :input_html=>{class:'input-sm'}%>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Colonia</label>
            <div class="col-md-9"><%= p.input :colonia , :label=>false, :input_html=>{class:'input-sm'}%></div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Pais</label>
            <div class="col-md-9"><%= p.association :country,:label=>false, :input_html=>{class:'input-sm'} %></div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Estados</label>
            <div class="col-md-9"><%= p.association :state ,:label=>false, :input_html=>{class:'input-sm'}%></div>
          </div>
          <div class="form-group">
            <label class="col-md-6 control-label">Telefono Emergencias</label>
            <div class="col-md-6"><%= p.input :phone_emergency ,:label=>false, :input_html=>{class:'input-sm'}%></div>
          </div>
        <% end %>
      </div>
      <div class="col-md-3">
        <%= f.simple_fields_for :person_emails do |person_email| %>
          <%= render 'person_email_fields', :f => person_email %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add Email', f, :person_emails, class:'btn btn-sm btn-info' %>
        </div>
      </div>
      <div class="col-md-5">
        <%= f.simple_fields_for :contact_telephones do |contact_telephone| %>
          <%= render 'contact_telephone_fields', :f => contact_telephone %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add Telephone', f, :contact_telephones, class: 'btn btn-sm btn-info' %>
        </div>
      </div>
  </fieldset>
  <hr class="hr-normal">
  <fieldset>
    <legend>Related People (Relationships)</legend>
      <%= f.simple_fields_for :related_people do |related_person| %>
        <%= render 'related_person_fields', :f => related_person %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'Add Relationships', f, :related_people, class: 'btn btn-sm btn-info' %>
    </div>
  </fieldset>
  <hr class="hr-normal">
  <fieldset>
  <legend>Work Place Information</legend>
  <%= f.simple_fields_for :person_work_place do |w| %> 
     <div class="form-group">
        <label class="col-md-1 control-label">Empresa</label>
        <div class="col-md-3">
          <%= w.input :empresa, :label=>false , :input_html=>{class:'input-sm'}%>
        </div>
        <label class="col-md-2 control-label">Puesto</label>
        <div class="col-md-3">
          <%= w.input :puesto, :label=>false, :input_html=>{class:'input-sm'}%>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-1 control-label">Calle</label>
        <div class="col-md-3">
          <%= w.input :calle, :label=>false , :input_html=>{class:'input-sm'}%>
        </div>
        <label class="col-md-2 control-label">Municipio</label>
        <div class="col-md-3">
          <%= w.input :municipio, :label=>false, :input_html=>{class:'input-sm'}%>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-1 control-label">Num Ext</label>
        <div class="col-md-1">
          <%= w.input :num_ext, :label=>false , :input_html=>{class:'input-sm'}%>
        </div>
        <label class="col-md-1 control-label">Num Int</label>
        <div class="col-md-1">
          <%= w.input :num_int, :label=>false, :input_html=>{class:'input-sm'}%>
        </div>
        <label class="col-md-2 control-label">Pais</label>
        <div class="col-md-3">
          <%= w.association :country, :label=>false , :input_html=>{class:'input-sm'}%>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-1 control-label">Colonia</label>
        <div class="col-md-1">
          <%= w.input :colonia, :label=>false , :input_html=>{class:'input-sm'}%>
        </div>
        <label class="col-md-1 control-label">CP</label>
        <div class="col-md-1">
          <%= w.input :cp, :label=>false, :input_html=>{class:'input-sm'}%>
        </div>
        <label class="col-md-2 control-label">Estado</label>
        <div class="col-md-3">
          <%= w.association :state, :label=>false , :input_html=>{class:'input-sm'}%>
        </div>
      </div>
  <% end %>
  </fieldset>
  <hr class="hr-normal">
  <div class="col-sm-12">
    <%= button_tag( :class => "btn btn-primary btn-lg") do %>
    <i class="icon-save"></i>
    Save
    <% end %>
  </div>
<% end %>
<% content_for :specific_js do %>
<script type="text/javascript">
  function get_state_by_country_id(country_select, state_select) {
    $('#'+country_select).change(function(){
      var val = $(this).val();
      $.ajax({
        type: 'GET',
        url: '/people/get_state_by_country_id?country_id='+val,
        success: function(data){
          if(data){
            var html_element='';
            $.each(data,function(index,value){
              html_element+="<option value="+value.id+">"+value.name+"</option>"
            })
            $('#'+state_select).html(html_element);
          }
        }
      })
    });
  }

  function get_campus_by_franchise_id(franchise_select, campus_select) {
    $('#'+franchise_select).change(function(){
      var val = $(this).val();
      $.ajax({
        type: 'GET',
        url: '/people/get_campus_by_franchise_id?franchise_id='+val,
        success: function(data){
          if(data){
            var html_element='';
            $.each(data,function(index,value){
              html_element+="<option value="+value.id+">"+value.name+"</option>"
            })
            $('#'+campus_select).html(html_element);
          }
        }
      })
    });
  }

  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: "yyyy-mm-dd"
    }).on('changeDate', function(e){
        $(this).datepicker('hide');
    });
    get_state_by_country_id('person_country_id', 'person_state_id');
    get_campus_by_franchise_id('person_franchise_id', 'person_campus_id')
    get_state_by_country_id('person_person_living_address_attributes_country_id','person_person_living_address_attributes_state_id');
    get_state_by_country_id('person_person_work_place_attributes_country_id', 'person_person_work_place_attributes_state_id');
  })
</script>
<% end %>
