<%= simple_form_for(@profile,:class=>'form',:style=>'margin-bottom:0;' ) do |f| %>
<%= f.error_notification %>
<fieldset>
  <div class="col-sm-4">
    <div class="box">
      <div class="lead">
        <i class="icon-edit text-contrast"></i>
        <%= t('general.general_info') %>
      </div>
      <small class="text-muted"><%= t('general.insert_general_info') %></small>
    </div>
  </div>
  <div class="col-sm-7 col-sm-offset-1">
    <%= f.simple_fields_for :person_living_address do |p| %>
        <%= p.input :street %>
        <%= p.input :num_ext %>
        <%= p.input :num_int %>
        <%= p.input :colonia %>
        <%= p.input :cp %>
        <%= p.input :municipio %>
        <%= p.association :country %>
        <%= p.association :state %>
        <%= p.input :phone_emergency %>
    <% end %>
  </div>
</fieldset>
<hr class="hr-normal">
<fieldset>
  <div class="col-sm-4">
    <div class="box">
      <div class="lead">
        <i class="icon-edit text-contrast"></i>
        Agregar Teléfonos
      </div>
      <small class="text-muted">Insertar nuevo teléfono</small>
    </div>
  </div>
  <div class="col-sm-7 col-sm-offset-1">
    <%= f.simple_fields_for :contact_telephones do |contact_telephone| %>
    <%= render 'contact_telephone_fields', :f => contact_telephone %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Agregar', f, :contact_telephones, :class=>'btn btn-info btn-xs' %>
    </div>
  </div>
</fieldset>
<hr class="hr-normal">
<fieldset>
  <div class="col-sm-4">
    <div class="box">
      <div class="lead">
        <i class="icon-edit text-contrast"></i>
        Agregar Emails
      </div>
      <small class="text-muted">Insertar nuevo email de contacto</small>
    </div>
  </div>
  <div class="col-sm-7 col-sm-offset-1">
    <%= f.simple_fields_for :person_emails do |person_email| %>
    <%= render 'person_email_fields', :f => person_email %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Agregar', f, :person_emails, :class=>'btn btn-info btn-xs' %>
    </div>
  </div>
</fieldset>
<hr class="hr-normal">
<div class="form-actions">
  <div class="row">
    <div class="col-sm-7 col-sm-offset-5">
      <%= button_tag( :class => "btn btn-primary btn-lg") do %>
      <i class="icon-save"></i>
      <%= t('general.save') %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
