<div class="row">
  <label class="col-md-1 control-label">Teacher:</label>
  <div class="col-md-3"><%= select_tag 'teacher', options_from_collection_for_select(@active_teachers, "id", "name"), class:'select2' %></div>
  <label class="col-md-1 control-label">Status:</label>
  <div class="col-md-3"><%= select_tag 'status', options_for_select(["Pending", "Accepted", "Rejected" ], "Pending"), class:'select2' %></div>
</div>
<br/>
<div class="row">
  <div class="col-md-9"><button type="button" class="btn btn-sm btn-info pull-right" data-toggle="modal" id="search_dictamination">Search</button></div>
</div>
<hr class="hr-normal">
<% if @dictaminations.present? %>
<div class="row" id="dictaminations_list">
  <div class="col-md-12">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Teacher Name</th>
        <th>Status</th>
        <th>Created Date</th>
        <th>Subjects</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @dictaminations.each do |d| %>
        <tr>
          <td><%= d.person.try(:name) %></td>
          <td><%= d.status %></td>
          <td><%= d.created_at %></td>
          <td><%= format_subjects_for_dictamination(Subject.get_by_study_plan(d.study_plan.id)) %></td>
          <td><%= dictamination_actions(d) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
<%= render 'accept_modal' %>
<% end %>

<% content_for :specific_js do %>

  <script type="text/javascript">
  function get_active_subjects_by_study_plan_id(val){
    $.ajax({
      type: 'GET',
      url: '/people/get_active_subjects_by_study_plan_id?study_plan_id='+val,
      success: function(data){
        if(data){
          var html_element=''
          $.each(data,function(index,value){
            html_element+="<span class='checkbox'><label for='teacher_dictamination_subject_ids_"+value.id+"'><input class='check_boxes optional' id='teacher_dictamination_subject_ids_"+value.id+"' name='teacher_dictamination[subject_ids][]' type='checkbox' value='"+value.id+"'>"+value.name+"</label></span>"
          })
          html_element+='<input name="teacher_dictamination[subject_ids][]" type="hidden" value=""/>'
          $("#subjects_wrapper").html(html_element);
          $('#acceptModal').modal('show'); 
        }
      }
    })
  }

    $(document).ready(function(){
      $(".accept-btn").click(function(e){
          var study_plan_id = $(this).attr('rel');
          var id = $(this).next().attr('rel');
          $('#teacher_dictamination_id').val(id);         
          get_active_subjects_by_study_plan_id(study_plan_id);
      })
      $(".reject-btn").click(function(){
        if (confirm('Are you sure?')) {
          var _this = $(this);
          var dictamination_id = _this.attr('rel');
          $.ajax({
            url: '/people/reject_dictamination?dictamination_id='+dictamination_id,
            success:function(data){
              _this.parent().html('');
            },
            error: function(){
              alert('Something went wrong');
            }
          })
        }
      })
      $('#search_dictamination').click(function(){
        window.location.href = '/people/accept_reject_dictamination?teacher='+$('#teacher').val()+'&status='+$('#status').val();
      });
    });
  </script>

<% end %>
