<div class="paragraphs">
	<div class="row">
		<div class="col-sm-12">
			<%= simple_form_for(@person, {:url=>search_by_name_people_url, :html=>{:class=>'form-inline'} } )  do |f| %>
			<%= f.input :name, :label=>'Person' %>
			<div class="form-actions">
				<%= button_tag( :class => "btn btn-primary btn-small") do %>
				<i class="icon-save"></i>Search
				<% end %>
			</div>
			<% end %>
		</div>
		<% if @person.user.roles.present? and @person.user.roles.length>0 %>
		<div class="col-sm-12">
			<br/>
			<table class='table table-bordered table-striped'>
				<thead>
					<tr>
						<th>Role</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<% @person.user.users_roles.each do |user_role| %>
					<tr>
						<td><%= user_role.role.name.humanize %></td>
						<td>
							<%= simple_form_for(user_role, {url: change_role_status_people_path}) do |f| %>
							<%= f.input :user_id, :as => :hidden %>
							<%= f.input :role_id, :as => :hidden %>
							<%= f.collection_radio_buttons :status, [[true, 'Active'] ,[false, 'Inactive']], :first, :last %>
							<% end %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<% end %>
		<div class="col-sm-12">
			<br/>
			<fieldset>
				<legend>Add Role</legend>
				<%= simple_form_for(@person.user, {:url=>add_new_role_people_url, :html=>{:method=>'POST'} } )  do |f| %>
				<%= f.input :id, :as => :hidden %>
				<%= f.input :roles, collection: @unassigned_roles.map { |r| [r.name.humanize, r.name] }, label:'Roles', class: 'form-control' %>
				<%= button_tag( :class => "btn btn-primary btn-small") do %>
				<i class="icon-save"></i>Save
				<% end %>
				<% end %>
			</fieldset>
		</div>
	</div>
</div>

<style>
	.edit_users_role span {
		margin-right:27px;
	}
</style>

<% content_for :specific_js do %>
<script type="text/javascript">
	$(document).ready(function(){
		$('.edit_users_role').submit(function(e){
			e.preventDefault(); //STOP default action
			var _this = $(this);
			var postData = _this.serializeArray();
      		var formURL = _this.attr("action");
			$.ajax(
			{
				url : formURL,
				type: "POST",
				data : postData,
				success:function(data){
					alert('Role status is updated')
				},
				error: function(data){
					alert('Failed to update role status')
				}
			});
		});

		$(".edit_users_role").each(function(){
			$(this).find("[type=radio]").change(function(){
				$(this).parents("form").submit();
			})
		})
	});
</script>
<% end %>