<style type="text/css">
  tr.clickable-person { cursor: pointer;}
</style>
      
<!-- // TITULO -->
<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h1 class="pull-left">
        <i class="icon-list"></i>
        <span>Catálogo</span>
      </h1>
      <div class="pull-right">
        <ul class="breadcrumb">
          <li>
            <a href="index.html">
              <i class="icon-home"></i>
            </a>
          </li>
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li>
            Catálogos
          </li>
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li class="active">Listado de personas</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- .// TITULO -->

<!-- // TABLE -->
<div class='box bordered-box blue-border' style='margin-bottom:0;'>
  <div class='box-header blue-background'>
    <div class='title'>Listado de personass</div>
    <div class='actions'>
      <%= link_to 'Nuevo', new_person_path, :class=>'btn btn-large btn-success' %>
      <button type="button" class="btn btn-large btn-default" data-toggle="modal" data-target="#searchModal">
        <%= t('general.search') %> <%= t('people.singular') %>
      </button>
    </div>
  </div>
  <div class='box-content box-no-padding'>
    <div class='responsive-table'>
      <div class='scrollable-area'>
        <table class='data-table table table-bordered table-striped' style='margin-bottom:0;'>
          <thead>
            <tr>
              <th><%= t('general.email') %></th>
              <th><%= t('general.name') %></th>
              <th><%= t('general.fathers_maiden') %></th>
              <th><%= t('general.mothers_maiden') %></th>
              <th><%= t('franchise.singular') %></th>
              <th><%= t('campus.singular') %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @people.each_with_index do |person,index| %>
            <td><%= person.email %></td>
            <td><%= person.name %></td>
            <td><%= person.fathers_maiden_name %></td>
            <td><%= person.mothers_maiden_name %></td>
            <td><%= person.franchise.try(:name) %></td>
            <td><%= person.campus.try(:name) %></td>
            <td>
              <div class="modal fade">
                <div class="modal-dialog" style="width:auto;">
                  <div class="modal-content">
                    <div class="modal-body"><%= render 'manage_contact_information', :p=>person, :i=>index %></div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
              <div class='text-right'>
                <%= link_to 'View', person_url(person), class: 'btn btn-info btn-xs' %>
                <%= link_to 'javascript:void(0);', title:'Manage Person Contacts', class: 'manage_contacts btn btn-info btn-xs' do %>
                <i class='icon-info'></i>
                <% end %>
                <%= link_to edit_person_url(person), class: 'btn btn-success btn-xs' do %>
                <i class='icon-edit'></i>
                <% end %>
                <%= link_to person, class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class='icon-remove'></i>
                <% end %>
              </div>
            </td>
          </tr>
          <% end %>  
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
<!-- .// TABLE -->

<%= render 'search_modal' %>

<% content_for :specific_js do %>
<script type="text/javascript">
  function get_state_by_country_id() {
    $('.country_living').change(function(){
      var _this = $(this);
      var val = _this.val();
      $.ajax({
        type: 'GET',
        url: '/people/get_state_by_country_id?country_id='+val,
        success: function(data){
          if(data){
            var html_element='';
            $.each(data,function(index,value){
              html_element+="<option value="+value.id+">"+value.name+"</option>"
            })
            _this.parent().next().find('select').html(html_element);
          }
        }
      })
    });
  }
  $(document).ready(function(){
    $('#searchModal').on('shown.bs.modal', function () {
      $('#fathers_maiden_name').focus();
    })

    $('.manage_contacts').click(function(){
      $(this).parent().prev().modal()
    });
    $('.new_contact_form input').attr('placeholder', '');
    get_state_by_country_id();

    $("#search-person-form").submit(function(e)
    {
      e.preventDefault(); //STOP default action
      var _this = $(this)
      _this.find(':button[type="submit"]').prop('disabled', true); 
      var postData = _this.serializeArray();
      var formURL = _this.attr("action");
      $('#search_person_result tbody').html('');
      $('#search_person_result').slideUp();
      $.ajax(
      {
        url : formURL,
        type: "POST",
        data : postData,
        success:function(data){
          if (data){
            var html_data = null;
            data.map(function(d){
                html_data = html_data + '<tr class="clickable-person"><td>'+d.fathers_maiden_name+
                '</td><td>'+d.mothers_maiden_name+'</td><td>'+d.first_name+
                '<td><a href="/people/'+d.id+'" class="btn btn-info btn-sm">View</a></td><td><a href="/people/assign_roles?id='+d.id+'" class="btn btn-info btn-sm">Assign Role</a>'+
                '&nbsp;<a href="/people/manage_personal_record_file?id='+d.id+'" class="btn btn-info btn-sm">Manage Personal Record File</a></td></td></tr>';
            })
            if (html_data==null){
              html_data = '<tr><td colspan="3">No se encontró persona</td></tr>'
            }
            $('#search_person_result tbody').html(html_data); 
            $('#search_person_result').slideDown(); 
          }
          _this.find(':button[type="submit"]').prop('disabled', false);
        }
      });
    });
  });
    </script>
    <% end %>
