      
<!-- // TITULO -->
<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h1 class="pull-left">
        <i class="icon-list"></i>
        <span>Catálogo</span>
      </h1>
      <div class="pull-right">
        <ul class="breadcrumb">
          <li>
            <a href="index.html">
              <i class="icon-home"></i>
            </a>
          </li>
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li>
            Catálogos
          </li>
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li class="active">Listado de personas</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- .// TITULO -->

<!-- // TABLE -->
<div class='box bordered-box blue-border' style='margin-bottom:0;'>
  <div class='box-header blue-background'>
    <div class='title'>Listado de personass</div>
    <div class='actions'>
      <%= link_to 'Nuevo', new_person_path, :class=>'btn btn-large btn-success' %>
    </div>
  </div>
  <div class='box-content box-no-padding'>
    <div class='responsive-table'>
      <div class='scrollable-area'>
        <table class='data-table table table-bordered table-striped' style='margin-bottom:0;'>
          <thead>
            <tr>
              <th>Email</th>
              <th>Nombre</th>
              <th>Fathers maiden name</th>
              <th>Mothers maiden name</th>
              <th>Country</th>
              <th>State</th>
              <th>Birthday</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @people.each_with_index do |person,index| %>
            <td><%= person.email %></td>
            <td><%= person.name %></td>
            <td><%= person.fathers_maiden_name %></td>
            <td><%= person.mothers_maiden_name %></td>
            <td><%= person.country.try(:name) %></td>
            <td><%= person.state.try(:name) %></td>
            <td><%= person.birthday %></td>
            <td>
              <div class="modal fade">
                <div class="modal-dialog" style="width:70%;">
                  <div class="modal-content">
                    <%= render 'manage_contact_information', :p=>person, :i=>index %>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
              <div class='text-right'>
                <%= link_to 'javascript:void(0);', title:'Manage Person Contacts', class: 'manage_contacts btn btn-info btn-xs' do %>
                <i class='icon-info'></i>
                <% end %>
                <%= link_to edit_person_url(person), class: 'btn btn-success btn-xs' do %>
                <i class='icon-ok'></i>
                <% end %>
                <%= link_to person, class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class='icon-remove'></i>
                <% end %>
              </div>
            </td>
          </tr>
          <% end %>  
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
<!-- .// TABLE -->

<% content_for :specific_js do %>
<script type="text/javascript">
  function get_state_by_country_id() {
    $('.country_living').change(function(){
      var _this = $(this);
      var val = _this.val();
      $.ajax({
        type: 'GET',
        url: '/people/get_state_by_country_id?country_id='+val,
        success: function(data){
          if(data){
            var html_element='';
            $.each(data,function(index,value){
              html_element+="<option value="+value.id+">"+value.name+"</option>"
            })
            _this.parent().next().find('select').html(html_element);
          }
        }
      })
    });
  }
  $(document).ready(function(){
    $('.manage_contacts').click(function(){
      $(this).parent().prev().modal()
    });
    $('.new_contact_form input').attr('placeholder', '');
    get_state_by_country_id();
  });
</script>
<% end %>