<div class="paragraphs">
	<div class="row">
		<div class="col-sm-12">
			<%= simple_form_for(@person, {:url=>search_by_name_people_url, :html=>{:class=>'form-inline'} } )  do |f| %>
			<%= f.input :name, :label=>'Person' %>
			<div class="form-actions">
				<%= button_tag( :class => "btn btn-primary btn-small") do %>
				<i class="icon-save"></i>Search
				<% end %>
			</div>
			<% end %>
		</div>
		<div class="col-sm-12">
			<br/><br/>
			<div class="col-sm-6">Study location for the last academic degree:</div>
			<div class="col-sm-3">
				<%= select_tag 'country', options_from_collection_for_select(@countries, "id", "name"), {class:'select2 form-control'} %>
			</div>
			<div class="col-sm-3">
				<%= select_tag 'state', options_from_collection_for_select(@states, "id", "name"), {class:'select2 form-control'} %>
			</div>
		</div>
		<div class="col-sm-12" style="overflow:hidden;">
			<br/><br/>
			<div class="col-sm-6">
				<fieldset>
					<legend>Attach New Document</legend>
					<%= simple_form_for(@new_personal_record_file, { :url=>upload_document_people_url, :html=>{:multipart=>true} } ) do |f| %>
						<%= f.input :document_type,:collection => @doc_types,:label => "Type" ,:include_blank => 'Document Category' %>
						<%= f.input :document, :label=>'Attach New Document' %>
						<%= f.submit 'Load', :class => 'button right' %>
					<% end %>
				</fieldset>
			</div>
			<div class="col-sm-6">
				<fieldset>
					<legend>Generate Responsive Letter</legend>
					<form>
						<div class='form-group'>
							<label>Responsive Template</label>
							<select>
								<option>Template 1</option>
							</select>
						</div>
						<div class='form-group'>
							<label>Motive</label>
							<textarea></textarea>
						</div>
						<div class='form-action'>
							<button>Preview</button>
							<button>Sign Responsive Letter</button>
						</div>
					</form>
				</fieldset>
			</div>
		</div>
		<% if @attached_docs.present? %>
			<div class="col-sm-12">
				<br/><br/>
				<fieldset>
					<legend>Attached Documents</legend>
					<table class='table table-striped table-bordered'>
						<thead>
							<tr>
								<th>Name</th>
								<th>Attach Date</th>
								<th>Attach User</th>
								<th>Matching Date</th>
								<th>Matching User</th>
							</tr>
						</thead>
						<tbody>
							<% @attached_docs.each do |d| %>
								<tr>
									<td><%= d.document_file_name %></td>
									<td><%= d.created_at %></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</fieldset>
			</div>
		<% end %>
	</div>
</div>
<% content_for :specific_js do %>
<script type="text/javascript">
	$(document).ready(function(){
	});
</script>
<% end %>