<input type='hidden' value='<%= Officer.all.length %>' id='max_officers'/>
<style>#active_subjects_wrapper{display:none;}</style>
<%= simple_form_for @teacher_dictamination, :url => '/people/create_teacher_dictamination', :method=>'post', :html=>{:target=>'_blank'}  do |f| %>
    <div class="form-group">
      <label class="col-md-5 control-label">Teacher</label>
      <div class="col-md-7"><%= f.association :person, :collection=>@active_teachers, :label=>false%></div>
    </div>
    <hr class="hr-normal">
    <div class="form-group">
      <label class="col-md-5 control-label">Study Plan</label>
      <div class="col-md-7"><%= f.association :study_plan, :collection=>@active_study_plans, :label=>false%></div>
    </div>
    <hr class="hr-normal">
    <div class="form-group" id="active_subjects_wrapper">
      <label class="col-md-12 control-label"></label>
      <div class="col-md-12"></div>
    </div>
    <hr class="hr-normal">
    <div id="officers_teacher_dictaminations_wrapper" class="form-inline">
        <%= f.simple_fields_for :officers_teacher_dictaminations do |officers_teacher_dictamination| %>
          <%= render 'officers_teacher_dictamination_fields', :f => officers_teacher_dictamination %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add Officer', f, :officers_teacher_dictaminations, class: 'btn btn-sm btn-info', style: 'margin-top:10px;' %>
        </div>
    </div>
    <hr class="hr-normal">
    <div class="form-group">
      <button class="btn btn-primary">Save and Print PDF</button>
    </div>
<% end %>
<% content_for :specific_js do %>
<script type="text/javascript">
  function get_active_subjects_by_study_plan_id(val){
    $("#active_subjects_wrapper").hide();
    $.ajax({
      type: 'GET',
      url: '/people/get_active_subjects_by_study_plan_id?study_plan_id='+val+'&teacher_id='+$('#teacher_dictamination_person_id').val(),
      success: function(data){
        if(data){
          var html_element=''
          $.each(data,function(index,value){
            html_element+="<span class='checkbox'><label for='teacher_dictamination_subject_ids_"+value.id+"'><input class='check_boxes optional' id='teacher_dictamination_subject_ids_"+value.id+"' name='teacher_dictamination[subject_ids][]' type='checkbox' value='"+value.id+"'>"+value.name+"</label></span>"
          })
          html_element+='<input name="teacher_dictamination[subject_ids][]" type="hidden" value=""/>'
          $("#active_subjects_wrapper").find('label').text("Active subjects in "+$('#teacher_dictamination_study_plan_id option:selected').text())
          $("#active_subjects_wrapper").find('div').html(html_element)
          $("#active_subjects_wrapper").slideDown();
        }
      }
    })
  }

  function check_to_hide_or_show_add_link() {
    var max_officers = $('#max_officers').val();
    console.log(max_officers);
    if ($('#officers_teacher_dictaminations_wrapper .nested-fields').length == max_officers) {
      if($('#officers_teacher_dictaminations_wrapper .nested-fields:hidden').length>0) {
        $('#officers_teacher_dictaminations_wrapper .links a').show();
      } else {
        $('#officers_teacher_dictaminations_wrapper .links a').hide();
      }
    } else {
      $('#officers_teacher_dictaminations_wrapper .links a').removeAttr('disabled')
      $('#officers_teacher_dictaminations_wrapper .links a').show();
    }
}

function validate_selected_officers(current_select){
      current_select.parents('fieldset').prev().find('select').attr('disabled',true);
      var selected_officers = $('#officers_teacher_dictaminations_wrapper select').map(function(){ return $(this).val() });
      current_select.find('option').map(function(){
          var is_selected_officer = $.inArray($(this).val(),selected_officers);
          if (is_selected_officer!=-1 && $(this).text()!='Select an officer'){
            $(this).remove();
          }
      })
}

  $(document).ready(function(){
    $('#teacher_dictamination_study_plan_id').change(function(){
      var val = $(this).val();
      get_active_subjects_by_study_plan_id(val);
    });

    $('#officers_teacher_dictaminations_wrapper select').attr('disabled',true)
    $('form#new_teacher_dictamination').bind('submit', function() {
      $(this).find('select').removeAttr('disabled');
    });
    $('#officers_teacher_dictaminations_wrapper select').live('change',function(){
      $('#officers_teacher_dictaminations_wrapper .links a').removeAttr('disabled');
    })
    $('#officers_teacher_dictaminations_wrapper').bind('cocoon:after-insert', function(e,item) {
      check_to_hide_or_show_add_link();
      var rank = $('#officers_teacher_dictaminations_wrapper .nested-fields').length;
      item.find('input.form-control').val(rank); 
      validate_selected_officers(item.find('select'));
      $('#officers_teacher_dictaminations_wrapper .links a').attr('disabled',true);
    });

    $('#officers_teacher_dictaminations_wrapper').bind('cocoon:after-remove', function(e,item) {
      check_to_hide_or_show_add_link();
    });

   check_to_hide_or_show_add_link();
 
  
  })
</script>
<% end %>
