<%= simple_form_for(@profile, {:url=>upload_profile_picture_people_url, :html=>{:multipart=>true, :style=>'display:none;'}} ) do |f| %>
<%= f.input :profile_picture %>
<% end %>

<div class="paragraphs">
  <div class="row">
    <div class="col-sm-12">
      <%= image_tag @profile.profile_picture.url(:thumb), :id=>'upload_avatar', :class=>'pull-left', :style=>'margin-right:10px;' %>
      <div class="content-heading">
        <h3><%= current_user.person.try(:name) %></h3>
        <p><%= "Last Academic Degree: #{@profile.last_academic_degree}" %></p>
        <p><%= "Location: #{@profile.country.try(:name)}, #{@profile.state.try(:name)}"%></p>
      </div>
    </div>
  </div>
</div>

<br/>
<div class="line line-dashed line-lg pull-in"></div>

<div class='tabbable'>
  <!-- Nav tabs -->
  <ul class="nav nav-responsive nav-tabs">
    <li role="presentation" class="active"><a href="#general_info" aria-controls="general_info" role="tab" data-toggle="tab">General Information</a></li>
    <li role="presentation"><a href="#assigned_roles" aria-controls="assigned_roles" role="tab" data-toggle="tab">Assigned Roles</a></li>
    <li role="presentation"><a href="#rec_file" aria-controls="rec_file" role="tab" data-toggle="tab">My Personal Record File</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="general_info">
      <!-- // TABLE -->
      <div class="box bordered-box blue-border">
        <div class="box-header blue-background">
          <div class="title">Change E-mail and Password</div>
        </div>
        <div class="box-content box-double-padding">
          <%= simple_form_for(current_user, :url =>update_password_users_path,:class=>'form',:style=>'margin-bottom:0;' ) do |f| %>
          <%= f.error_notification %>
          <%= f.input :active_franchise, as: :hidden, input_html: {value: session[:active_franchise]} %>
          <fieldset>
            <div class="col-sm-4">
              <div class="box">
                <div class="lead">
                  <i class="icon-edit text-contrast"></i>
                  <%= t('general.general_info') %>
                </div>
                <small class="text-muted"><%= t('general.insert_general_info') %></small>
              </div>
            </div>
            <div class="col-sm-7 col-sm-offset-1">
              <%= f.input :password, :autocomplete => "off", :label=>'Password', :class=>'form-control'  %>
              <%= f.input :password_confirmation, :label=>'Password confirmation', :class=>'form-control' %>
              <%= f.input :email, :label=>'Change email', :class=>'form-control' %>
            </div>
          </fieldset>
          <hr class="hr-normal">
          <div class="form-actions">
            <div class="row">
              <div class="col-sm-7 col-sm-offset-5">
                <%= button_tag( :class => "btn btn-primary btn-lg") do %>
                <i class="icon-save"></i>
                <%= t('general.save') %>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <!-- .// TABLE -->
      <!-- // TABLE -->
      <div class="box bordered-box blue-border">
        <div class="box-header blue-background">
          <div class="title">Contact Information</div>
        </div>
        <div class="box-content box-double-padding">
          <%= render 'profile_form' %>
        </div>
      </div>
      <!-- .// TABLE -->
    </div>
    <div role="tabpanel" class="tab-pane" id="assigned_roles">
      <!-- .// TABLE -->
      <div class='box bordered-box blue-border' style='margin-bottom:0;'>
        <div class='box-header blue-background'>
          <div class='title'>My Roles List</div>
        </div>
        <div class='box-content box-no-padding'>
          <div class='responsive-table'>
            <div class='scrollable-area'>
              <table class='data-table table table-bordered table-striped' style='margin-bottom:0;'>
                <thead>
                  <tr>
                    <th>Role Name</th>
                  </tr>
                </thead>
                <tbody>
                  <% @profile.user.users_roles.each do |r|%>
                    <tr><td><%= r.role.name.humanize %></td></tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- .// TABLE -->
    </div>
    <div role="tabpanel" class="tab-pane" id="rec_file">
      <% if @attached_docs.present? %>
        <!-- .// TABLE -->
        <div class='box bordered-box blue-border' style='margin-bottom:0;'>
          <div class='box-header blue-background'>
            <div class='title'>Attached Files in My Personal File</div>
          </div>
          <div class='box-content box-no-padding'>
            <div class='responsive-table'>
              <div class='scrollable-area'>
                <table class='data-table table table-bordered table-striped' style='margin-bottom:0;'>
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Due Date</th>
                            <th>Attach Date</th>
                            <th>Attach User</th>
                            <th>Matching Date</th>
                            <th>Matching User</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @attached_docs.each do |d| %>
                            <tr>
                              <td><%= link_to d.document_file_name, download_personal_record_file_people_url(:rec_file_id=>d.id) %></td>
                              <td><%= d.due_date.to_date.strftime("%Y-%m-%d") rescue nil %></td>
                              <td><%= d.created_at.to_date.strftime("%Y-%m-%d") %></td>
                              <td><%= d.attach_user.person.name || d.attach_user.email %></td>
                              <td><%= d.match_date.to_date.strftime("%Y-%m-%d") rescue nil %></td>
                              <td><%= d.match_user.person.name rescue nil %></td>
                            </tr>
                          <% end %>
                        </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- .// TABLE -->
      <% end %>
    </div>
  </div>
</div>
<% content_for :specific_js do %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){

    $('#upload_avatar').on('click',function(){
      $('#person_profile_picture').trigger('click');
    });

    var profile_avatar = document.getElementById("person_profile_picture");
    console.log(profile_avatar);

    upload_avatar = function(evt){
      evt.stopPropagation();
      evt.preventDefault();
      
      for (a = 0; a < evt.target.files.length; ++a){
        
        var file = evt.target.files[a];
        var formData = new FormData();
        formData.append('file', file);

        var xhr = new XMLHttpRequest();
        xhr.open('PATCH', '<%= upload_profile_picture_people_url %>');
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))

        xhr.onloadstart = function() {
          $("#upload_avatar").attr('src','/assets/flatty/ajax-loaders/4.gif');
        }

        xhr.onload = function () {
          if (xhr.status === 200) {
            $("#upload_avatar").attr('src',xhr.responseText);
          } else {
            if(!alert(xhr.responseText)){window.location.reload();}
          }
        }

        xhr.send(formData);

      }
    }

    profile_avatar.addEventListener("change", upload_avatar, false);
  });
</script>
<% end %>
