<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<table width="100%" style="font-size:12px;">
        <thead>
          <tr>
            <th>Año</th>
            <th>Meses</th>
            <th>Grupo</th>
            <th>Nombre Abrev Plan Estudios</th>
            <th>Materia</th>
            <th>Maestro</th>
            <th>Dia Semana</th>
            <th>Aula</th>
            <th>Franja Horaria</th>
          </tr>
          <tr style='height:15px;'><th colspan="9"></th></tr>
        </thead>
        <tbody>
          <% @group_details.each do |group_detail| %>
            <tr>
              <td><%= group_detail.year %></td>
              <td><%= group_detail.month %></td>
              <td><%= group_detail.custom_group_id %></td>
              <td><%= abbrev_study_plan_name(group_detail.group.study_plan.name) %></td>
              <td><%= group_detail.subject.name %></td>
              <td><%= group_detail.teacher.first_name %></td>
              <td><%= group_detail.weekday %></td>
              <td><%= group_detail.classroom.name %></td>
              <td><%= group_detail.time_slot.name %></td>
            </tr>
            <tr style='height:15px;'><td colspan="9"></td></tr>
          <% end %>
        </tbody>
</table>
