<style>
table{font-size:12px;}
#id_number, .search_button_wrapper, #search_result_wrap{display:none;}
</style>
<div class="paragraphs">
	<div class="row">
		<div class="col-sm-12">
      <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#search_by_year" aria-controls="home" role="tab" data-toggle="tab">Search By Year</a></li>
          <li role="presentation"><a href="#search_by_group_id" aria-controls="profile" role="tab" data-toggle="tab">Search By Group ID</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="search_by_year">
            <div class="row">
              <div class="col-sm-1">Year</div>
              <div class="col-sm-3">
                <%= select("group","year", @years, { include_blank: 'Select Years'}, {class: 'form-control', id:'year'}) %>
              </div>
              <div class="col-sm-8">
               <div class="col-sm-12"><label><%= radio_button_tag "status", "Open", true %>&nbsp; Open</label></div>
               <div class="col-sm-12"><label><%= radio_button_tag "status", "Closed" %>&nbsp; Closed</label></div>
               <div class="col-sm-12"><label><%= radio_button_tag "status", "Blocked" %>&nbsp; Blocked</label></div>
               <div class="col-sm-12"><label><%= radio_button_tag "status", "In Review" %>&nbsp; In Review</label></div>
               <div class="col-sm-12"><label><%= radio_button_tag "status", "All" %>&nbsp; All</label></div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <br/><button id="search_by_year_button">Search</button>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="search_by_group_id">
            <div class="row">
              <div class="col-sm-4">Group ID</div>
              <div class="col-sm-3">
                <%= select("group", "id_year", @id_years, { include_blank: 'Select Years'}, {class: 'form-control', id:'id_year' } ) %>
              </div>
              <div class="col-sm-1">--</div>
              <div class="col-sm-4">
                <select id='id_number' class='form-control'></select>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 search_button_wrapper">
                <br/><button class="pull-right" id="search_by_group_id_button">Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="search_result_wrap">
    <div class="col-sm-12">
      <br/>
      <table width="100%" class="table table-striped">
        <thead>
          <tr>
            <th>Acciones</th>
            <th>Estatus</th>
            <th>Año</th>
            <th>Meses</th>
            <th>Grupo</th>
            <th>Nombre Abrev Plan Estudios</th>
            <th>Materia</th>
            <th>Maestro</th>
            <th>Dia Semana</th>
            <th>Aula</th>
            <th>Franja Horaria</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
<% content_for :specific_js do %>
  <script type="text/javascript">
    function load_id_number(year){
      $.ajax({
        url: '/people/get_group_id_number?year='+year,
        success:function(data){
          var html_element = '<option>Select Number</option>';
          if(data){
            $.each(data,function(index,value){ 
              html_element += '<option value="'+value+'">'+value+'</option>'
            })
          }
          $('.search_button_wrapper').slideDown();
          $('#id_number').html(html_element).slideDown();
        }
      })
    }

    function shorter_study_plan_name(name){
      var shorter_name = name.replace('Tetramestral','TETRA');
      shorter_name.replace('Semestral', 'SMTR');
      return shorter_name
    }

    function search_by_group_id(){
      $('#search_by_group_id_button').click(function(){
        var group_id= $('#id_year').val()+"-"+$('#id_number').val();
        $.ajax({
          url: '/people/search_group_by_group_id?group_id='+group_id,
          success: function(data){
            if(data && data[0]){
              var group_details = data[0].group_details;
              var html_element = '';
              $.each(group_details,function(index,value){
                console.log(value);
                html_element += '<tr><td><a href="javascript:void(0);">Ver</a>&nbsp;|&nbsp;<a href="javascript:void(0);">Imprimir Minuta</a></td><td>'+data[0].status+'</td><td>'+value.year+'</td><td>'+value.month+'</td><td></td><td>'+shorter_study_plan_name(data[0].study_plan.name)+'</td><td>'+value.subject.name+'</td><td>'+value.teacher.first_name+'</td><td>'+value.weekday+'</td><td>'+value.classroom.name+'</td></tr>' 
              });
              $('#search_result_wrap').find('table tbody').html(html_element);
              $('#search_result_wrap').slideDown();
            }
          }
        });
      });
    }
  
    function search_by_year(){
      $('#search_by_year_button').click(function(){
        var year = $('#year').val();
        var status = $("input:radio[name=status]:checked").val();
        $.ajax({
          url: '/people/search_group_by_year?year='+year+'&status='+status,
          success: function(data){
            if(data){
              var group_details = data;
              var html_element = '';
              $.each(group_details,function(index,value){
                html_element += '<tr><td><a href="javascript:void(0);">Ver</a>&nbsp;|&nbsp;<a href="javascript:void(0);">Imprimir Minuta</a></td><td>'+value.group.status+'</td><td>'+value.year+'</td><td>'+value.month+'</td><td></td><td>'+shorter_study_plan_name(value.group.study_plan.name)+'</td><td>'+value.subject.name+'</td><td>'+value.teacher.first_name+'</td><td>'+value.weekday+'</td><td>'+value.classroom.name+'</td></tr>' 
              });
              $('#search_result_wrap').find('table tbody').html(html_element);
              $('#search_result_wrap').slideDown();
            }
          }
        })
      });
    }

    $(document).ready(function(){
      $('#id_year').change(function(){
        load_id_number($(this).val());
        search_by_group_id();
      })
      search_by_year();
    });
  </script>
<% end %>
