<style>
table{font-size:12px;}
#id_number, .search_button_wrapper, #search_result_wrap, #period_wrap{display:none;}
</style>
<!-- // TITULO -->
<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1 class="pull-left">
				<i class="icon-edit"></i>
				<span>Group</span>
			</h1>
			<div class="pull-right">
				<ul class="breadcrumb">
					<li>
						<a href="index.html">
							<i class="icon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="icon-angle-right"></i>
					</li>
					<li>
						<%= t('general.catalogues') %>
					</li>
					<li class="separator">
						<i class="icon-angle-right"></i>
					</li>
					<li class="active">Groups</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- .// TITULO -->

<!-- // TABLE -->
<div class="box bordered-box blue-border">
	<div class="box-header blue-background">
		<div class="title">Search Group</div>
	</div>
	<div class="box-content box-double-padding">
      <div class='tabbable'>
        <!-- Nav tabs -->
        <ul class="nav nav-responsive nav-tabs">
          <li role="presentation" class="active"><a href="#search_by_year" aria-controls="home" role="tab" data-toggle="tab">Search By Year</a></li>
          <li role="presentation"><a href="#search_by_group_id" aria-controls="profile" role="tab" data-toggle="tab">Search By Group ID</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="search_by_year">
            <div class="row">
              <div class="col-sm-1">Year</div>
              <div class="col-sm-3">
                <%= select("group","year", @years, { include_blank: 'Select Years'}, {class: 'form-control', id:'year'}) %>
              </div>
              <div class="col-sm-8">
               <div class="col-sm-12"><label><%= radio_button_tag "status", "Open", true %>&nbsp; Open</label></div>
               <div class="col-sm-12"><label><%= radio_button_tag "status", "Closed" %>&nbsp; Closed</label></div>
               <div class="col-sm-12"><label><%= radio_button_tag "status", "Blocked" %>&nbsp; Blocked</label></div>
               <div class="col-sm-12"><label><%= radio_button_tag "status", "In Review" %>&nbsp; In Review</label></div>
               <div class="col-sm-12"><label><%= radio_button_tag "status", "All" %>&nbsp; All</label></div>
              </div>
            </div>
            <div class="row" id='period_wrap'>
              <div class="col-sm-1">Period</div>
              <div class="col-sm-4">
                <select id='period' class='form-control'></select>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <br/><button id="search_by_year_button">Search</button>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <br/><button id="search_by_year_print_button">Print All Results</button>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="search_by_group_id">
            <div class="row">
              <div class="col-sm-4">Group ID</div>
              <div class="col-sm-3">
                <%= select("group", "id_year", @id_years, { include_blank: 'Select Years'}, {class: 'form-control', id:'id_year' } ) %>
              </div>
              <div class="col-sm-1">--</div>
              <div class="col-sm-4">
                <select id='id_number' class='form-control'></select>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 search_button_wrapper">
                <br/><button class="pull-right" id="search_by_group_id_button">Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="search_result_wrap">
        <div class="col-sm-12 responsive-table">
          <div class='scrollable-area'>
            <table class="data-table table table-striped">
              <thead>
                <tr>
                  <th>Acciones</th>
                  <th>Estatus</th>
                  <th>Año</th>
                  <th>Meses</th>
                  <th>Grupo</th>
                  <th>Plan Estudios</th>
                  <th>Materia</th>
                  <th>Maestro</th>
                  <th>Día</th>
                  <th>Aula</th>
                  <th>Franja Horaria</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- .// TABLE -->
<% content_for :specific_js do %>
  <script type="text/javascript">
    function load_id_number(year){
      $.ajax({
        url: '/people/get_group_id_number?year='+year,
        success:function(data){
          var html_element = '<option>Select Number</option>';
          if(data){
            $.each(data,function(index,value){ 
              html_element += '<option value="'+value+'">'+value+'</option>'
            })
          }
          $('.search_button_wrapper').slideDown();
          $('#id_number').html(html_element).slideDown();
        }
      })
    }

    function shorter_study_plan_name(name){
      if(name.indexOf('Tetramestral')!=-1){ var shorter_name = name.replace('Tetramestral','TETRA') }
      if(name.indexOf('Trimestral')!=-1){ var shorter_name = name.replace('Trimestral', 'TRI') }
      if(name.indexOf('Semestral')!=-1){ var shorter_name = name.replace('Semestral', 'SMTR') };
      return shorter_name
    }

    function search_by_group_id(){
      $('#search_by_group_id_button').click(function(){
        var group_id= $('#id_year').val()+"-"+$('#id_number').val();
        $.ajax({
          url: '/people/search_group_by_group_id?group_id='+group_id,
          success: function(data){
            if(data && data[0]){
              $('#search_result_wrap table').dataTable().fnClearTable();
              var group_details = data;
              $.each(group_details,function(index,value){
                $('#search_result_wrap table').dataTable().fnAddData( [
                  '<a href="/people/view_group?group_detail_id='+value.id+'" target="_blank">Ver</a>&nbsp;|&nbsp;<a href="/people/view_group?group_detail_id='+value.id+'&format=pdf" target="_blank">Imprimir Minuta</a>',
                  value.status, value.year, value.month, value.custom_group_id, shorter_study_plan_name(value.group.study_plan.name), value.subject.name, value.teacher.first_name, value.weekday, value.classroom.name, value.time_slot.name  ]);
              });
              $('#search_result_wrap').slideDown();
            }
          }
        });
      });
    }
  
    function search_by_year(){
      $('#search_by_year_button').click(function(){
        var year = $('#year').val();
        var status = $("input:radio[name=status]:checked").val();
        var period = $('#period').val();
        $.ajax({
          url: '/people/search_group_by_year?year='+year+'&status='+status+'&period='+period,
          success: function(data){
            if(data){
              $('#search_result_wrap table').dataTable().fnClearTable();
              var group_details = data;
              $.each(group_details,function(index,value){
                $('#search_result_wrap table').dataTable().fnAddData( [
                  '<a href="/people/view_group?group_detail_id='+value.id+'" target="_blank">Ver</a>&nbsp;|&nbsp;<a href="/people/view_group?group_detail_id='+value.id+'&format=pdf" target="_blank">Imprimir Minuta</a>',
                  value.status, value.year, value.month, value.custom_group_id, shorter_study_plan_name(value.group.study_plan.name), value.subject.name, value.teacher.first_name, value.weekday, value.classroom.name, value.time_slot.name  ]);
              });
              $('#search_result_wrap').slideDown();
            }
          }
        })
      });
    }

    function search_by_year_print(){
      $('#search_by_year_print_button').click(function(){
        var year = $('#year').val();
        var status = $("input:radio[name=status]:checked").val();
        var period = $('#period').val();
        window.open('/people/search_group_by_year?year='+year+'&status='+status+'&period='+period+'&format=pdf','_blank')
      })
    }

    $(document).ready(function(){
      $('#id_year').change(function(){
        load_id_number($(this).val());
        search_by_group_id();
      });
      $('#year').change(function(){
        var year = $(this).val();
        $.ajax({
          url: '/people/get_period_of_year_for_search_group?year='+year,
          success: function(data){
            if (data) {
              var html_element = '<option>Select Periods</option>'
              $.each(data,function(index,value){
                html_element += '<option value="'+value+'">'+value+'</option>'
              });
              $('#period').html(html_element);
              $('#period_wrap').slideDown();
            }
          }
        })        
      });
      search_by_year();
      search_by_year_print();
    });
  </script>
<% end %>
