<%#= debug @group_detail %>
<div class='row'>
  <div class='col-sm-6'>
      <table width="100%">
        <tbody>
          <tr>
            <td><%= @group_detail.year %></td>
            <td><%= @group_detail.group.group_id %></td>
            <td><%= @group_detail.id %></td>
            <td><%= @group_detail.teacher.name %></td>
          </tr>
          <tr style='height:15px;'><td colspan="4"></td></tr>
          <tr>
            <td><%= @group_detail.subject.try(:name) %></td>
            <td><%= @group_detail.classroom.try(:name) %></td>
            <td><%= @group_detail.time_slot.try(:name) %></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
