<%#= debug @group_detail %>
<div class='row'>
  <div class='col-sm-6'>
      <table width="100%">
        <tbody>
          <tr>
            <td><%= @group_detail.year %></td>
            <td><%= @group_detail.group.group_id %></td>
            <td><%= @group_detail.id %></td>
            <td><%= @group_detail.teacher.name %></td>
          </tr>
          <tr style='height:15px;'><td colspan="4"></td></tr>
          <tr>
            <td><%= @group_detail.subject.try(:name) %></td>
            <td colspan="2"><%= @group_detail.classroom.try(:name) %></td>
            <td><%= @group_detail.time_slot.try(:name) %></td>
          </tr>
          <tr style='height:15px;'><td colspan="4"></td></tr>
          <tr style='height:15px;'><td colspan="4"></td></tr>
          <tr>
            <td colspan="2"><%= "#{@group_detail.created_at.strftime('%Y-%m-%d')} #{@group_detail.group.creator.person.name}" %></td>
            <td colspan="2"><%= "#{@group_detail.closed_at.strftime('%Y-%m-%d')} #{@group_detail.closer.person.name}" %></td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class='col-sm-6'>
      <fieldset>
        <legend>Action</legend>
        <table width="100%">
          <tbody>
            <tr>
              <td><a href="<%= copy_new_group_people_path(:group_id=>@group_detail.group.group_id) %>" class="btn">Copiar</a></td>
              <td><% if @group_detail.status=='Closed' %><a href="<%= open_it_groups_path(:group_detail_id=>@group_detail.id) %>" class="btn">Abrir</a><% end %></td>
              <td><% if @able_to_block %><a href="#" class="btn">Bloquear</a><% end %></td>
              <td><% if @group_detail.status=='Open' %><a href="<%= close_it_groups_path(:group_detail_id=>@group_detail.id) %>" class="btn">Cerrar</a><% end %></td>
            </tr>
            <% if @able_to_block %>
            <tr style='height:15px;'><td colspan="4"></td></tr>
            <tr>
              <td colspan="3"></td>
              <td><a href="#" class="btn">Desbloquear</a></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </fieldset>
  </div>
</div>
<hr class="hr-normal">
