<!-- // TITULO -->
<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h1 class="pull-left">
        <i class="icon-list"></i>
        <span><%= t('curricular_line.plural') %></span>
      </h1>
      <div class="pull-right">
        <ul class="breadcrumb">
          <li>
            <a href="index.html">
              <i class="icon-home"></i>
            </a>
          </li>
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li>
            <%= t('general.catalogues') %>
          </li>
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li class="active"><%= t('curricular_line.plural') %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- .// TITULO -->

<!-- // TABLE -->
<div class='box bordered-box blue-border' style='margin-bottom:0;'>
  <div class='box-header blue-background'>
    <div class='title'><%= t('curricular_line.plural') %></div>
    <div class='actions'>
      <%= link_to t('curricular_line.new'), new_curricular_line_path, :class=>'btn btn-large btn-success' %>
    </div>
  </div>
  <div class='box-content box-no-padding'>
    <div class='responsive-table'>
      <div class='scrollable-area'>
        <table class='data-table table table-bordered table-striped' style='margin-bottom:0;'>
          <thead>
            <tr>
              <th>
                <%= t('general.name') %>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @curricular_lines.each do |curricular_line| %>
            <tr>
              <td><%= curricular_line.name %></td>
              <td>
                <div class="text-right">
                  <%= link_to edit_curricular_line_url(curricular_line), class: 'btn btn-success btn-xs' do %>
                  <i class='icon-edit'></i>
                  <% end %>
                  <%= link_to curricular_line, class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: t('general.are_you_sure') } do %>
                  <i class='icon-remove'></i>
                  <% end %>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- .// TABLE -->
