<% if current_user.active_role.blank? or (current_user.active_role=='super_administrator' and session[:active_franchise].blank?) %>
<div class="alert alert-info" role="alert">Bienvenido, por favor seleccione el rol que desea utilizar</div>
<%= simple_form_for(current_user, :url =>set_active_role_users_path,:class=>'form',:style=>'margin-bottom:0;' ) do |f| %>
<fieldset>
	<div class="col-sm-7">
		<%= f.input :active_role, collection: @enabled_roles.map { |r| [r.role.name.humanize, r.role.name] }, prompt: "Favor de seleccionar un rol", label:'Seleccionar rol de usuario a utilizar' %>
    <%= f.input :active_franchise, collection: Franchise.all.map { |franchise| [franchise.name.humanize, franchise.id] }, prompt: "Seleccionar franquicia", label:'Seleccionar Franquicia' %>
		<div class="form-actions">
			<%= button_tag( :class => "btn btn-primary btn-lg") do %>
			<i class="icon-save"></i>Rol de Usuario
			<% end %>
		</div>
	</div>
</fieldset>
<% end %>
<% else %>
<div class="alert alert-info" role="alert">Conectado como: <%= current_user.active_role.humanize %></div>
<% if @notifications %>
<div class='box bordered-box blue-border' style='margin-bottom:0;'>
	<div class='box-content box-no-padding'>
		<div class='responsive-table'>
			<div class='scrollable-area'>
				<table class='table table-bordered table-striped' style='margin-bottom:0;'>
					<thead>
						<tr>
							<th>Desde</th>
							<th>Titulo</th>
							<th>Mensaje</th>
              <th colspan="2"></th>
						</tr>
					</thead>
          <tbody>
						<% @notifications.each do |n| %>
						<tr>
							<td><%= n.user.person.try(:name) %></td>
							<td><%= n.title %></td>
							<td><%= n.message %></td>
              <td><%= "#{time_ago_in_words(n.created_at)} ago" %></td><td><a class="btn btn-info btn-xs" href="<%= mark_as_read_notification_path(n) %>">Marcar como leido</a></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<% end %>
<% end %>
<% content_for :specific_js do %>
<script type='text/javascript'>
$(document).ready(function(){
      if ($('#user_active_role').val()=='super_administrator') {
          $('div.user_active_franchise').slideDown();    
      }
      $('#user_active_role').change(function(){
        if($(this).val()=='super_administrator'){
          $('div.user_active_franchise').slideDown();    
        } else {
          $('div.user_active_franchise').slideUp();    
        }
      }); 
  });  
</script>
<% end %>
<style>
div.user_active_franchise{display:none;}
</style>
