<!-- // TITULO -->
<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h1 class="pull-left">
        <i class="icon-edit"></i>
        <span><%= t('contract_template.singular') %></span>
      </h1>
      <div class="pull-right">
        <ul class="breadcrumb">
          <li>
            <a href="index.html">
              <i class="icon-home"></i>
            </a>
          </li>
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li>
            <%= t('general.catalogues') %>
          </li>
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li class="active"><%= t('contract_template.plural') %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- .// TITULO -->

<!-- // TABLE -->
<div class="box bordered-box blue-border">
  <div class="box-header blue-background">
    <div class="title">
      <%= t('contract_template.singular') %>
    </div>
  </div>
  <div class="box-content box-double-padding">
    <%= simple_form_for(@contracts_template, :class=>'form', :style=>'margin-bottom:0;') do |f| %>
    <%= f.error_notification %>
    <%= f.input :status, :as=>:hidden, :input_html=>{:value=>true} %>
    <fieldset>
      <div class="col-sm-4">
        <div class="box">
          <div class="lead">
            <i class="icon-edit text-contrast"></i>
            <%= t('general.general_data') %>
          </div>
          <small class="text-muted"><%= t('general.insert_general_info') %></small>
        </div>
      </div>
      <div class="col-sm-7 col-sm-offset-1">
        <div class="form-group">
          <%= f.input :name, :label=> t('general.name'), :class=>'form-control' %>
        </div>
        <div class="form-group">
          <%= f.input :consecutive_init,:label=> t('contract_template.consecutive_init'), :class=>'form-control' %>
        </div>
      </div>
    </fieldset>
    <hr class="hr-normal">
    <fieldset>
      <div class="col-sm-4">
        <div class="box">
          <div class="lead">
            <i class="icon-star text-contrast"></i>
            <%= t('contract_template.singular') %>
          </div>
          <small class="text-muted">
            <%= t('contract_template.mssg1') %><br /><br />
            <%= t('contract_template.mssg2') %>
            <ul>
              <li><span class="badge badge-default">@@persona.id@@</span> - <%= t('people.id_person') %></li>
              <li><span class="badge badge-default">@@persona.nombre_completo@@</span> - <%= t('people.nombre_compl') %></li>
              <li><span class="badge badge-default">@@persona.xyz@@</span> - <%= t('people.datosxyz') %></li>
            </ul>
          </small>
        </div>
      </div>
      <div class="col-sm-7 col-sm-offset-1">
        <div class="form-group">
          <%= f.input :serie, :label=>t('general.serie'), :class=>'form-control' %>
        </div>
        <div class="form-group">
          <%= f.cktext_area :content, :label=>t('contract_template.format'), :class=>'form-control ckeditor' %>   
        </div>
      </div>
    </fieldset>
    <hr class="hr-normal">
    <div class="form-actions">
      <div class="row">
        <div class="col-sm-7 col-sm-offset-5">
          <%= button_tag( :class => "btn btn-primary btn-lg") do %>
          <i class="icon-save"></i>
          <%= t('general.save') %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
  <!-- .// TABLE -->
