<!-- // TITULO -->
<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h1 class="pull-left">
        <i class="icon-list"></i>
        <span><%= t('period.plural') %></span>
      </h1>
      <div class="pull-right">
        <ul class="breadcrumb">
          <li>
            <a href="index.html">
              <i class="icon-home"></i>
            </a>
          </li>
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li>
            <%= t('general.catalogues') %>
          </li>
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li class="active"><%= t('period.plural') %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- .// TITULO -->

<!-- // TABLE -->
<div class='box bordered-box blue-border' style='margin-bottom:0;'>
  <div class='box-header blue-background'>
    <div class='title'><%= t('period.plural') %></div>
    <div class='actions'>
      <%= link_to t('period.new'), new_period_path, :class=>'btn btn-large btn-success' %>
    </div>
  </div>
  <div class='box-content box-no-padding'>
    <div class='responsive-table'>
      <div class='scrollable-area'>
        <table class='data-table table table-bordered table-striped' style='margin-bottom:0;'>
          <thead>
            <tr>
              <th><%= t('franchise.singular') %></th>
              <th>Tipo de Periodo</th>
              <th>Periodo Inicial</th>
              <th>Periodo Final</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
           <% @periods.each do |period| %>
           <tr>
            <td><%= period.franchise.try(:name) %></td>
            <td><%= period.name %></td>
            <td><%= "#{period.period_details.first.initial_month.strftime('%B')}, #{period.period_details.first.end_month.strftime('%B')} #{period.period_details.first.year.strftime('%Y')}"%></td>
            <td><%= "#{period.period_details.last.initial_month.strftime('%B')}, #{period.period_details.last.end_month.strftime('%B')} #{period.period_details.last.year.strftime('%Y')}"%></td>
            <td>
              <div class='text-right'>
                <%= link_to edit_period_url(period), class: 'btn btn-success btn-xs' do %>
                <i class='icon-ok'></i>
                <% end %>
                <%= link_to period, class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: t('general.are_you_sure') } do %>
                <i class='icon-remove'></i>
                <% end %>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
<!-- .// TABLE -->
