<!-- // TITULO -->
<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h1 class="pull-left">
        <i class="icon-edit"></i>
        <span><%= t('time_slot.singular') %></span>
      </h1>
      <div class="pull-right">
        <ul class="breadcrumb">
          <li>
            <a href="index.html">
              <i class="icon-home"></i>
            </a>
          </li>
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li>
            <%= t('general.catalogues') %>
          </li>
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li class="active"><%= t('time_slot.singular') %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- .// TITULO -->

<!-- // TABLE -->
<div class="box bordered-box blue-border">
  <div class="box-header blue-background">
    <div class="title">
      <%= t('time_slot.singular') %>
    </div>
  </div>
  <div class="box-content box-double-padding">
    <%= simple_form_for(@time_slot,:class=>'form',:style=>'margin-bottom:0;') do |f| %>
    <%= f.error_notification %>
    <%= f.input :status, :as=>:hidden, :input_html=>{:value=>true} %>
    <fieldset>
      <div class="col-sm-4">
        <div class="box">
          <div class="lead">
            <i class="icon-edit text-contrast"></i>
            Datos Generales
          </div>
          <small class="text-muted">Ingrese los datos generales. El campo aulas debe ser número haciendo referencia a la cantidad de aulas disponibles para grupos en el Campus.</small>
        </div>
      </div>
      <div class="col-sm-7 col-sm-offset-1">
        <div class="form-group">
          <% if current_user.active_role=='super_administrator' %>
            <%= f.association :franchise, as: :hidden, input_html: {value: session[:active_franchise]} %>
          <% else %>
            <%= f.association :franchise, as: :hidden, input_html:{value: current_user.person.franchise_id} %>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.association :campus, :label=>t('campus.singular'), :class=>'select2 form-control' %>
        </div>
        <div class="form-group">
          <%= f.input :start_time, :label=>'Hora de inicio', :class=>'form-control' %>
        </div>
        <div class="form-group">
          <%= f.input :end_time, :label=>'Hora de finalización', :class=>'form-control' %>
        </div>
      </div>
    </fieldset>
    <hr class="hr-normal">
    <div class="form-actions">
      <div class="row">
        <div class="col-sm-7 col-sm-offset-5">
          <%= button_tag( :class => "btn btn-primary btn-lg") do %>
          <i class="icon-save"></i>
          <%= t('general.save') %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<!-- .// TABLE -->
<% content_for :specific_js do %>
<script type="text/javascript">
  function get_by_franchise_id(val){
    $.ajax({
      type: 'GET',
      url: '/campuses/get_by_franchise_id?franchise_id='+val,
      success: function(data){
        if(data){
          var html_element='<option value=""></option>';
          $.each(data,function(index,value){
            html_element+="<option value="+value.id+">"+value.name+"</option>"
          })
          $("#time_slot_campus_id").html(html_element);
        }
      }
    })
  }

  $(document).ready(function(){

    get_by_franchise_id($('#time_slot_franchise_id').val());
  
  })
</script>
<% end %>
