    
<!-- // TITULO -->
<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h1 class="pull-left">
        <i class="icon-edit"></i>
        <span><%= t('background_docs.plural') %></span>
      </h1>
      <div class="pull-right">
        <ul class="breadcrumb">
          <li>
            <a href="index.html">
              <i class="icon-home"></i>
            </a>
          </li>
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li>
            <%= t('general.catalogues') %>
          </li>
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li class="active"><%= t('background_docs.plural') %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- .// TITULO -->

<!-- // TABLE -->
<div class='box bordered-box blue-border' style='margin-bottom:0;'>
  <div class='box-header blue-background'>
    <div class='title'><%= t('background_docs.plural') %></div>
    <div class='actions'>
      <%= link_to t('background_docs.new'), new_background_official_doc_path, :class=>'btn btn-large btn-success' %>
    </div>
  </div>
  <div class='box-content box-no-padding'>
    <div class='responsive-table'>
      <div class='scrollable-area'>
        <table class='data-table table table-bordered table-striped' style='margin-bottom:0;'>
          <thead>
            <tr>
              <th>
                <%= t('general.name') %>
              </th>
              <th>
                Días de Vigencia Carta Resp.
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @background_official_docs.each do |background_official_doc| %>
            <tr>
              <td><%= background_official_doc.name %></td>
              <td><%= background_official_doc.responsive_due_days %></td>
              <td>
                <div class="text-right">
                  <%= link_to edit_background_official_doc_url(background_official_doc), class: 'btn btn-success btn-xs' do %>
                  <i class='icon-ok'></i>
                  <% end %>
                  <%= link_to background_official_doc, class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: t('general.are_you_sure') } do %>
                  <i class='icon-remove'></i>
                  <% end %>
                </div>
              </td>
            </tr>
            <% end %>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- .// TABLE -->
