<!-- // TITULO -->
<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1 class="pull-left">
				<i class="icon-edit"></i>
				<span><%= t('state.singular') %></span>
			</h1>
			<div class="pull-right">
				<ul class="breadcrumb">
					<li>
						<a href="index.html">
							<i class="icon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="icon-angle-right"></i>
					</li>
					<li>
						<%= t('general.catalogue') %>
					</li>
					<li class="separator">
						<i class="icon-angle-right"></i>
					</li>
					<li class="active"><%= t('state.plural') %></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- .// TITULO -->

<!-- // TABLE -->
<div class="box bordered-box blue-border">
	<div class="box-header blue-background">
		<div class="title">
			<%= t('state.singular') %>
		</div>
	</div>
	<div class="box-content box-double-padding">
		<%= simple_form_for(@state, :class=>'form',:style=>'margin-bottom:0;') do |f| %>
		<%= f.error_notification %>
		<fieldset>
			<div class="col-sm-4">
				<div class="box">
					<div class="lead">
						<i class="icon-edit text-contrast"></i>
						<%= t('general.general_data') %>
					</div>
					<small class="text-muted"><%= t('general.insert_general_info') %></small>
				</div>
			</div>
			<div class="col-sm-7 col-sm-offset-1">
				<div class="form-group">
					<%= f.association :country, :label=>t('country.singular'), :class=>'select2 form-control' %>
				</div>
				<div class="form-group">
					<%= f.input :name, :class=>'form-control',:label=>t('general.name') %>
				</div>
			</div>
		</fieldset>
		<hr class="hr-normal">
		<div class="form-actions">
			<div class="row">
				<div class="col-sm-7 col-sm-offset-5">
					<%= button_tag( :class => "btn btn-primary btn-lg") do %>
					<i class="icon-save"></i>
					<%= t('general.save') %>
					<% end %>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>
<!-- .// TABLE -->

