<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @study.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @study.status %>
</p>

<p>
  <strong>Franchise:</strong>
  <%= @study.franchise %>
</p>

<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>
