<p id="notice"><%= notice %></p>

<p>
  <strong>Franchise:</strong>
  <%= @subject.franchise %>
</p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Study level:</strong>
  <%= @subject.study_level %>
</p>

<p>
  <strong>Curricular line:</strong>
  <%= @subject.curricular_line %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @subject.clave %>
</p>

<p>
  <strong>Status:</strong>
  <%= @subject.status %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
