
<style>
div.study_plan_name{width:60%;}
.remove_sp_period_link{display:none}
#officers_study_plans_wrapper input, #officers_study_plans_wrapper select {height:30px;}
span.help-block{background-color: #f2dede;border-color: #eed3d7;color: #b94a48; padding: 15px;margin-bottom: 20px;}
</style>

<!-- // TITULO -->
<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h1 class="pull-left">
        <i class="icon-edit"></i>
        <span><%= t('study_plan.singular') %></span>
      </h1>
      <div class="pull-right">
        <ul class="breadcrumb">
          <li>
          <a href="index.html">
            <i class="icon-home"></i>
          </a>
          </li>
          <li class="separator">
          <i class="icon-angle-right"></i>
          </li>
          <li>
          <%= t('general.catalogue') %>
          </li>
          <li class="separator">
          <i class="icon-angle-right"></i>
          </li>
          <li class="active"><%= t('study_plan.plural') %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- .// TITULO -->

<!-- // TABLE -->
<div class="box bordered-box blue-border">
  <div class="box-header blue-background">
    <div class="title">
      <%= t('study_plan.singular') %>
    </div>
  </div>
  <div class="paragraphs">
    <div class="row">
      <div class="col-sm-12">
        <br/>
        <%= simple_form_for @study_plan, :html=>{:class=>'form-inline'} do |f| %>
        <%= f.error_notification %>
        <%= f.error :base %>
        <%= f.association :career, :as => :collection_select, collection: Career.where('status =?', true), :label=>false, :include_blank=>'Seleccionar Carrera' %>
        <button class='btn btn-info' id='validate_study_plan_btn'><%= t('general.select')%></button>
        <br/><br/>
        <input type='hidden' value='<%= @study_plan.id %>' id='sp_id'/>

        <div id='detail_study_plan'>

             <%= f.input :fecha_caducidad, :label => t('study_plan.fecha_caducidad'), as: :string, input_html: { class: "datepicker" }  %>
          <div class="form-group string optional study_plan_anio">
            <label class="select required control-label" for="study_plan_fecha_caducidad"><%= t('study_plan.anio')%></label>
            <select id="study_plan_anio" class="select required form-control" name="study_plan[anio]">
           </select>
          </div>
          <%= f.input :acuerdo, :label=>t('study_plan.acuerdo') %>
          <div class="form-group select required study_plan_modalidad">
            <label class="string optional control-label" for="study_plan_modalidad"> <%= t('study_plan.modalidad') %> </label>
            <%= select_tag(:modalidad, options_for_select(@modalidad, @study_plan.modalidad), :class=>"select required form-control", :id=>"study_plan_modalidad", :name=>"study_plan[modalidad]") %>

          </div>         
          <%= f.input :number_of_periods, :label=>t('study_plan.num_periods') %>
          <%= f.association :period, :label=>t('period.singular') %>          
          <%= f.input :beca, :label=>t('study_plan.beca') %>
          
          <div id="div_attendance_rate" class="form-group integer optional study_plan_attendance_rate">
            
            <%= f.input :attendance_rate, :label=>t('study_plan.attendance_rate') %>

          </div>

          <%= f.input :extra_opportunities, :label=>t('study_plan.extra_oport') %>
          <%= f.input :name, readonly: true, :label=>t('study_plan.name_study_plan') %>

          <div id="officers_study_plans_wrapper">
            <%= f.simple_fields_for :officers_study_plans do |officers_study_plan| %>
              <%= render 'officers_study_plan_fields', :f => officers_study_plan %>
            <% end %>

            <div class='links'>
              <%= link_to_add_association 'Agregar funcionario', f, :officers_study_plans, class: 'btn btn-sm btn-info', style: 'margin-top:10px;' %>
            </div>
          </div>
          <br/>
          <div id="study_plan_periods_wrapper">
            <% @period_counter = 1 %>
            <%= f.simple_fields_for :study_plan_periods do |study_plan_period| %>
              <%= render 'study_plan_period_fields', :f => study_plan_period %>
            <% @period_counter = @period_counter + 1 %>
            <% end %>
            <div class='links' id="link_to_add_study_plan_periods" style="display:none;">
              <%= link_to_add_association 'Agregar Periodo Plan de Estudio', f, :study_plan_periods %>
            </div>
          </div>
          <br/><br/>
          <div class="form-action"><button type="submit" class="btn btn-lg btn-primary"><%= t('general.save') %></button></div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
<!-- .// TABLE -->
<input type='hidden' value='<%= Officer.all.length %>' id='max_officers'/>


<% content_for :specific_js do %>

<script type="text/javascript">

function get_anio(){
  var sp_id = $('#sp_id').val();

  $.ajax({
      type: 'GET',
      url: '/study_plans/get_anio?sp_id=' + sp_id,
      success: function(data) {
                if (data) {
                    $("#study_plan_anio").val(data.anio);
                }
            }
        })
  
}

function check_value_modalidad (){

 if ($('#study_plan_modalidad').val() =='Presencial' || $('#study_plan_modalidad').val()=='Mixto'){
   $('#div_attendance_rate').show();
 }else{
   $('#div_attendance_rate').hide();
 }  

}

function fill_years(){
  var year = (new Date()).getFullYear(), select = document.getElementById("study_plan_anio");
  var lyears = year - 12;

    for(var i = 0; i <= 24; i++) {
        option = document.createElement("option");        
        option.value = lyears + i;
        option.innerHTML = lyears + i;
        select.appendChild(option);
    }
}

function fill_modalidades(){

}

function fill_study_plan_name(career, anio, modalidad, period) {
    var _this_year = new Date().getFullYear();
    $('#study_plan_name').val(career + ' ' + anio + ' ' + modalidad + ' ' + period);
}

function get_subjects_by_curricular_line(cl_id, _this, old_selected_subject) {
        var val = cl_id;
        $.ajax({
            type: 'GET',
            url: '/study_plans/get_subject_by_curricular_line?cl_id=' + val + '&career_id='+$('#study_plan_career_id').val(),
            success: function(data) {
                if (data) {
                    var html_element = '<option></option>';
                    $.each(data, function(index, value) {
                        html_element += "<option value=" + value.id + ">" + value.name + "</option>"
                        })
                    _this.parent().next().find('select').html(html_element);
                    if(old_selected_subject){
                      _this.parent().next().find('select').val(old_selected_subject);
                    }
                }
            }
        })
}

function check_to_hide_or_show_add_link() {
    var max_officers = $('#max_officers').val();
    if ($('#officers_study_plans_wrapper .nested-fields').length == max_officers) {
      if($('#officers_study_plans_wrapper .nested-fields:hidden').length>0) {
        $('#officers_study_plans_wrapper .links a').show();
      } else {
        $('#officers_study_plans_wrapper .links a').hide();
      }
    } else {
      $('#officers_study_plans_wrapper .links a').show();
      $('#officers_study_plans_wrapper .links a').attr('disabled',false);
    }
}

function validate_selected_officers(current_select){
      current_select.parents('fieldset').prev().find('select').attr('disabled',true);
      var selected_officers = $('#officers_study_plans_wrapper select').map(function(){ return $(this).val() });
      current_select.find('option').map(function(){
          var is_selected_officer = $.inArray($(this).val(),selected_officers);
          if (is_selected_officer!=-1 && $(this).text()!='Select an officer'){
                       $(this).remove();
          }
      })
}


$(document).ready(function() {
    
    fill_years();
    
    if($('#sp_id').val()>0){
      get_anio();
    }
    
    check_value_modalidad();
 
   var date = new Date('2016-03-17');
   date.setMonth(date.getMonth() + 48);
   var fecha= ("0"+date.getDay())+'/'+("0"+date.getMonth())+'/'+date.getFullYear();
   $('.datepicker').val(fecha);


   var nowTemp = new Date();
   var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
  
   $('.datepicker').datepicker({
     onRender: function(date) {
     return date.valueOf() < now.valueOf() ? 'disabled' : '';
      $('.datepicker').val(date);
    }}).on('changeDate', function(ev){
          $('.datepicker').datepicker('hide');
        }
    );

  // datepicker -->


    $('#study_plan_modalidad').live('change',function(){
        if($('#study_plan_modalidad').val()=='Presencial' || $('#study_plan_modalidad').val()=='Mixto'){
          $('#div_attendance_rate').show();
        }
        else{
            $('#div_attendance_rate').hide();
        }
    })

    $('#officers_study_plans_wrapper select').attr('disabled',true)
    $('form#new_study_plan').bind('submit', function() {
      $(this).find('select').removeAttr('disabled');
    });

    $('#officers_study_plans_wrapper select').live('change',function(){
      $('#officers_study_plans_wrapper .links a').removeAttr('disabled');
    })


    $('#officers_study_plans_wrapper').bind('cocoon:after-insert', function(e,item) {
      check_to_hide_or_show_add_link();
      var rank = $('#officers_study_plans_wrapper .nested-fields').length;
      item.find('input.form-control').val(rank); 
      validate_selected_officers(item.find('select'));    
    });

    $('#officers_study_plans_wrapper').bind('cocoon:after-remove', function(e,item) {
      check_to_hide_or_show_add_link();
    });

   check_to_hide_or_show_add_link();
    $('.study_plan_subject_cl').each(function() {
          var old_selected_subject = $(this).parent().next().find('select').val();
          get_subjects_by_curricular_line($(this).val(),$(this),old_selected_subject);
    })
    
    $("#study_plan_period_id").change(function() {
        fill_study_plan_name($('#study_plan_career_id option:selected').text(), $('#study_plan_anio').val(), $('#study_plan_modalidad').val(), $('#study_plan_period_id option:selected').text());
    })
    
    $('#study_plan_number_of_periods').change(function() {
        $(".remove_sp_period_link").trigger('click');
        var i = $(this).val();
        for (j = 0; j < i; j++) {
            $('#link_to_add_study_plan_periods').prev().find('.period_counter').html(j);
            $('#link_to_add_study_plan_periods').find('a').trigger('click');
        }
        $('#link_to_add_study_plan_periods').prev().find('.period_counter').html($(this).val());
        $('#study_plan_periods_wrapper').slideDown();
    })
    $('#validate_study_plan_btn').click(function(e) {
        e.preventDefault();
        $('#study_plan_number_of_periods').val('').change();
        $.ajax({
            url: '/careers/check_for_study_plan?id=' + $('#study_plan_career_id').val(),
            success: function(data) {
                if (data && data.length > 0) {
                    var d = data.slice(-1)[0]
                    $('#study_plan_number_of_periods').val(d.number_of_periods).change();
                    $('#study_plan_period_id').val(d.period_id);
                    $('#study_plan_attendance_rate').val(d.attendance_rate);
                    $('#study_plan_extra_opportunities').val(d.extra_opportunities);
                    $('#study_plan_name').val(d.name);
                } else {
                    $('#study_plan_number_of_periods').val('');
                    $('#study_plan_period_id').val('');
                    $('#study_plan_attendance_rate').val('');
                    $('#study_plan_extra_opportunities').val('');
                    $('#study_plan_name').val('');
                }                 
                
                $('.sp_period_name').each(function(i){
                    if (d && d.study_plan_periods[i]) {
                      var study_plan_period = d.study_plan_periods[i];
                      var _this = $(this);
                      var add_subject_btn = _this.parents('.study_plan_period_fields').find('a.add_subject_btn');
                      _this.val(study_plan_period.period_name);
                      study_plan_period.study_plan_subjects.forEach(function(item){
                        add_subject_btn.trigger('click');
                        add_subject_btn.parent().prev().prev().find('.study_plan_subject_cl').val(item.curricular_line_id) 
                        add_subject_btn.parent().prev().prev().find('.study_plan_subject_id').val(item.subject_id) 
                        add_subject_btn.parent().prev().prev().find('.study_plan_subject_hrs_semanales').val(item.weekly_frequency) 
                        add_subject_btn.parent().prev().prev().find('.study_plan_subject_credits').val(item.credits) 
                        get_subjects_by_curricular_line(add_subject_btn.parent().prev().prev().find('.study_plan_subject_cl').val(),add_subject_btn.parent().prev().prev().find('.study_plan_subject_cl'),item.subject_id);
                      })
                    }
                });
                
                $('#detail_study_plan').slideDown();
            }
        })
    });
    
});
</script>

<% end %>

<% if params[:action]=='new'%>
  <style>
    #detail_study_plan,#study_plan_periods_wrapper{display:none;}
  </style>
<% end %>
