<div class="paragraphs">
	<div class="row">
		<div class="col-sm-12">
      <br/>
      <%= simple_form_for @study_plan do |f| %>
        <%= f.error_notification %>
        <%= f.association :career, :as => :collection_select, collection: Career.where('status =?', true), :label=>'Select Career:' %>
        <button class='btn btn-sm btn-info' id='validate_study_plan_btn'>Select</button>
        <div id='detail_study_plan'>
          <%= f.input :number_of_periods %>
          <%= f.association :period %>
          <%= f.input :attendance_rate %> %
          <%= f.input :extra_opportunities %>
          <%= f.input :name, readonly: true %>
          <div id="study_plan_periods_wrapper" style="display:none;">
            <%= f.fields_for :study_plan_periods do |study_plan_period| %>
              <%= render 'study_plan_period_fields', :f => study_plan_period %>
            <% end %>
            <div class='links' id="link_to_add_study_plan_periods" style="display:none;">
              <%= link_to_add_association 'Add Study Plan Period', f, :study_plan_periods %>
            </div>
          </div>
          <%= f.submit 'Save', class:'btn btn-primary' %>
        </div>
      <% end %>
		</div>
	</div>
</div>

<% content_for :specific_js do %>

<script type="text/javascript">
  function fill_study_plan_name(career,period){
    var _this_year = new Date().getFullYear();
    $('#study_plan_name').val(career+' '+period+' '+_this_year);
  }

	$(document).ready(function(){
    $('#validate_study_plan_btn').click(function(e){
      e.preventDefault();
      $.ajax({
        url: '/careers/check_for_study_plan?id='+$('#study_plan_career_id').val(),
        success: function(data){
          if(data&&data.length>0){
            console.log(data);
            var d = data.slice(-1)[0]
            $("#study_plan_number_of_periods").val(d.number_of_periods);
            $("#study_plan_period_id").val(d.period_id);
            $("#study_plan_attendance_rate").val(d.attendance_rate);
            $("#study_plan_name").val(d.name);
            $("#study_plan_extra_opportunities").val(d.extra_opportunities);
          } else {
            $("#study_plan_number_of_periods").val('');
            $("#study_plan_period_id").val('');
            $("#study_plan_attendance_rate").val('');
            $("#study_plan_name").val('');
            $("#study_plan_extra_opportunities").val('');
          }
        }
      })
      $('#detail_study_plan').slideDown();
    });
    $("#study_plan_period_id").change(function(){
      fill_study_plan_name($('#study_plan_career_id option:selected').text(),$('#study_plan_period_id option:selected').text());
    })

    $('#study_plan_number_of_periods').change(function(){
      var i = $(this).val() - 1;
      for (j = 0; j < i; j++) {
          console.log(j+1);
          $('#link_to_add_study_plan_periods').prev().find('.period_counter').html(j+1);
          $('#link_to_add_study_plan_periods').find('a').trigger('click');
      }
      $('#link_to_add_study_plan_periods').prev().find('.period_counter').html($(this).val());
      $('#study_plan_periods_wrapper').slideDown();
    })
	});
</script>

<% end %>
<style>
#detail_study_plan{display:none;}
</style>
