<style>.remove_sp_period_link{display:none}</style>

<!-- // TITULO -->
<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h1 class="pull-left">
        <i class="icon-edit"></i>
        <span><%= t('study_plan.singular') %></span>
      </h1>
      <div class="pull-right">
        <ul class="breadcrumb">
          <li>
          <a href="index.html">
            <i class="icon-home"></i>
          </a>
          </li>
          <li class="separator">
          <i class="icon-angle-right"></i>
          </li>
          <li>
          <%= t('general.catalogue') %>
          </li>
          <li class="separator">
          <i class="icon-angle-right"></i>
          </li>
          <li class="active"><%= t('study_plan.plural') %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- .// TITULO -->

<!-- // TABLE -->
<div class="box bordered-box blue-border">
  <div class="box-header blue-background">
    <div class="title">
      <%= t('study_plan.singular') %>
    </div>
  </div>
  <div class="paragraphs">
    <div class="row">
      <div class="col-sm-12">
        <br/>
        <%= simple_form_for @study_plan, :html=>{:class=>'form-inline'} do |f| %>
          <%= f.error_notification %>
        <%= f.association :career, :as => :collection_select, collection: Career.where('status =?', true), :label=>false, :include_blank=>'Select Career' %>
        <button class='btn btn-info' id='validate_study_plan_btn'>Select</button>
        <br/><br/>
        <div id='detail_study_plan'>
          <%= f.input :number_of_periods %>
          <%= f.association :period %>
          <%= f.input :attendance_rate %>
          <%= f.input :extra_opportunities %>
          <%= f.input :name, readonly: true, label:'Study Plan Name' %>
          <div id="officers_study_plans_wrapper">
            <%= f.simple_fields_for :officers_study_plans do |officers_study_plan| %>
              <%= render 'officers_study_plan_fields', :f => officers_study_plan %>
            <% end %>
            <div class='links'>
              <%= link_to_add_association 'Add Officer', f, :officers_study_plans %>
            </div>
          </div>
          <br/>
          <div id="study_plan_periods_wrapper">
            <% @period_counter = 1 %>
            <%= f.simple_fields_for :study_plan_periods do |study_plan_period| %>
              <%= render 'study_plan_period_fields', :f => study_plan_period %>
            <% @period_counter = @period_counter + 1 %>
            <% end %>
            <div class='links' id="link_to_add_study_plan_periods" style="display:none;">
              <%= link_to_add_association 'Add Study Plan Period', f, :study_plan_periods %>
            </div>
          </div>
          <br/><br/>
          <div class="form-action"><button type="submit" class="btn btn-lg btn-primary"><%= t('general.save') %></button></div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
<!-- .// TABLE -->


<% content_for :specific_js do %>

<script type="text/javascript">
function fill_study_plan_name(career, period) {
    var _this_year = new Date().getFullYear();
    $('#study_plan_name').val(career + ' ' + period + ' ' + _this_year);
}

function get_subjects_by_curricular_line(cl_id, _this, old_selected_subject) {
        var val = cl_id;
        $.ajax({
            type: 'GET',
            url: '/study_plans/get_subject_by_curricular_line?cl_id=' + val + '&career_id='+$('#study_plan_career_id').val(),
            success: function(data) {
                if (data) {
                    var html_element = '<option></option>';
                    $.each(data, function(index, value) {
                        html_element += "<option value=" + value.id + ">" + value.name + "</option>"
                        })
                    _this.parent().next().find('select').html(html_element);
                    if(old_selected_subject){
                      _this.parent().next().find('select').val(old_selected_subject);
                    }
                }
            }
        })
}
$(document).ready(function() {
    $('.study_plan_subject_cl').each(function() {
          var old_selected_subject = $(this).parent().next().find('select').val();
          get_subjects_by_curricular_line($(this).val(),$(this),old_selected_subject);
    })
    
    $("#study_plan_period_id").change(function() {
        fill_study_plan_name($('#study_plan_career_id option:selected').text(), $('#study_plan_period_id option:selected').text());
    })

    $('#study_plan_number_of_periods').change(function() {
        $(".remove_sp_period_link").trigger('click');
        var i = $(this).val();
        for (j = 0; j < i; j++) {
            $('#link_to_add_study_plan_periods').prev().find('.period_counter').html(j);
            $('#link_to_add_study_plan_periods').find('a').trigger('click');
        }
        $('#link_to_add_study_plan_periods').prev().find('.period_counter').html($(this).val());
        $('#study_plan_periods_wrapper').slideDown();
    })
    $('#validate_study_plan_btn').click(function(e) {
        e.preventDefault();
        $('#study_plan_number_of_periods').val('').change();
        $.ajax({
            url: '/careers/check_for_study_plan?id=' + $('#study_plan_career_id').val(),
            success: function(data) {
                if (data && data.length > 0) {
                    var d = data.slice(-1)[0]
                    $('#study_plan_number_of_periods').val(d.number_of_periods).change();
                    $('#study_plan_period_id').val(d.period_id);
                    $('#study_plan_attendance_rate').val(d.attendance_rate);
                    $('#study_plan_extra_opportunities').val(d.extra_opportunities);
                    $('#study_plan_name').val(d.name);
                } else {
                    $('#study_plan_number_of_periods').val('');
                    $('#study_plan_period_id').val('');
                    $('#study_plan_attendance_rate').val('');
                    $('#study_plan_extra_opportunities').val('');
                    $('#study_plan_name').val('');
                }                 
                
                $('.sp_period_name').each(function(i){
                    if (d && d.study_plan_periods[i]) {
                      var study_plan_period = d.study_plan_periods[i];
                      var _this = $(this);
                      var add_subject_btn = _this.parents('.study_plan_period_fields').find('a.add_subject_btn');
                      _this.val(study_plan_period.period_name);
                      study_plan_period.study_plan_subjects.forEach(function(item){
                        add_subject_btn.trigger('click');
                        add_subject_btn.parent().prev().prev().find('.study_plan_subject_cl').val(item.curricular_line_id) 
                        add_subject_btn.parent().prev().prev().find('.study_plan_subject_id').val(item.subject_id) 
                        add_subject_btn.parent().prev().prev().find('.study_plan_subject_weekly_freq').val(item.weekly_frequency) 
                        add_subject_btn.parent().prev().prev().find('.study_plan_subject_credits').val(item.credits) 
                        get_subjects_by_curricular_line(add_subject_btn.parent().prev().prev().find('.study_plan_subject_cl').val(),add_subject_btn.parent().prev().prev().find('.study_plan_subject_cl'),item.subject_id);
                      })
                    }
                });
                
                $('#detail_study_plan').slideDown();
            }
        })
    });

});
</script>

<% end %>

<% if params[:action]=='new'%>
  <style>
    #detail_study_plan,#study_plan_periods_wrapper{display:none;}
  </style>
<% end %>
