<fieldset>
  <div class='study_plan_period_fields nested-fields'>
    <legend>Period #<span class='period_counter'><%= @period_counter %></span></legend>
    <%= f.input :period_name, :label=>'Period Name', :input_html=>{:class=>'sp_period_name'} %>
    <%= f.simple_fields_for :study_plan_subjects do |study_plan_subject| %>
      <%= render 'study_plan_subject_fields', :f => study_plan_subject %>
    <% end %>
    <%= link_to_remove_association 'x', f, :class=>'remove_sp_period_link' %>
    <div class='links'>
      <%= link_to_add_association 'Add', f, :study_plan_subjects, class: 'btn btn-sm btn-info add_subject_btn', style: 'margin-top:10px;' %>
    </div>
    <br/><br/>
  </div>
</fieldset>
