<div class='nested-fields'>
<%= f.input :curricular_line_id, collection: CurricularLine.all, input_html: { class: 'study_plan_subject_cl input-sm'} %>
<%= f.input :subject_id, collection: Subject.all , input_html: { class: 'input-sm'} %>
<%= f.input :weekly_frequency  , input_html: { class: 'input-sm'} %>
<%= f.input :credits  , input_html: { class: 'input-sm'} %>
<span class="links">
  <%= link_to_remove_association "x", f, class: 'btn btn-sm btn-danger', style: 'margin-top:23px;' %>
</span>
</div>
<script>
  $(document).ready(function(){
    get_subjects_by_curricular_line() 
  });
</script>
