<div class='nested-fields'>
<%= f.input :curricular_line_id, collection: CurricularLine.all, input_html: { class: 'study_plan_subject_cl'} %>
<%= f.input :subject_id, collection: Subject.all %>
<div class="clear"></div>
<%= f.input :weekly_frequency %>
<%= f.input :credits %>
<div class="links">
  <%= link_to_remove_association "x", f %>
</div>
</div>
<script>
  $(document).ready(function(){
    get_subjects_by_curricular_line() 
  });
</script>
