<!-- // TITULO -->
<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h1 class="pull-left">
        <i class="icon-list"></i>
        <span><%= t('country.plural') %></span>
      </h1>
      <div class="pull-right">
        <ul class="breadcrumb">
          <li>
            <a href="index.html">
              <i class="icon-home"></i>
            </a>
          </li>
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li>
            <%= t('general.catalogue') %>
          </li>
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li class="active"><%= t('country.plural') %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- .// TITULO -->

<!-- // TABLE -->
<div class="box bordered-box blue-border" style="margin-bottom:0;">
  <div class="box-header blue-background">
    <div class="title"><%= t('country.plural') %></div>
    <div class='actions'>
      <%= link_to t('country.new'), new_country_url, :class=>'btn btn-large btn-success' %>
    </div>
  </div>
  <div class="box-content box-no-padding">
    <div class="responsive-table">
      <div class="scrollable-area">
          <div class="row datatables-top">
            <div class="col-sm-6">
            </div>
          </div>
          <table class="data-table table table-bordered table-striped dataTable" style="margin-bottom:0;" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
            <thead>
              <tr role="row"><th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 326px;">
                <%= t('general.name') %>
              </th><th class="" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label=": activate to sort column ascending" style="width: 149px;"></th>
            </tr>
          </thead>
          <tbody role="alert" aria-live="polite" aria-relevant="all">
            <% @countries.each do |country| %>
            <tr class="<%= cycle("odd", "even") -%>">
              <td class="  sorting_1"><%= country.name %></td>
              <td class=" ">
                <div class="text-right">
                  <%= link_to edit_country_url(country), class: 'btn btn-success btn-xs' do %>
                  <i class='icon-edit'></i>
                  <% end %>
                  <%= link_to country, class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: t('general.are_you_sure') } do %>
                  <i class='icon-remove'></i>
                  <% end %>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
  </div>
</div>
</div>
<!-- .// TABLE -->
