<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= content_for?(:title) ? yield(:title) : "FOCIM Control Escolar BETA" %></title>
	<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Fcescolar" %>">
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<script type="text/javascript">var CKEDITOR_BASEPATH = '/assets/ckeditor/';</script>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= yield :specific_js %>
	<%= csrf_meta_tags %>
</head>

<% if !user_signed_in? %>

<body class='login contrast-background'>
  <%= yield %>
	<% else %>

	<body class='without-footer'>

		<header>
			<%= render 'layouts/navigation' %>
		</header>

		<div id='wrapper'>
			<div id='main-nav-bg'></div>
			<nav id='main-nav'>
				<div class='navigation'>
					<div class='search'>
						<form action='search_results.html' method='get'>
							<div class='search-wrapper'>
								<input value="" class="search-query form-control" placeholder="Search..." autocomplete="off" name="q" type="text" />
								<button class='btn btn-link icon-search' name='button' type='submit'></button>
							</div>
						</form>
					</div>
					<% if current_user.active_role.present? %>
					<ul class='nav nav-stacked'>
						<li class=''>
							<a href='/'>
								<i class='icon-dashboard'></i>
								<span>Dashboard</span>
							</a>
						</li>
						<li class=''>
							<a class="dropdown-collapse" href="#"><i class='icon-edit'></i>
								<span><%= t('general.catalogues') %></span>
								<i class='icon-angle-down angle-down'></i>
							</a>

							<ul class='nav nav-stacked'>
								<li class=''>
									<a href='/subjects'>
										<i class='icon-caret-right'></i>
										<span><%= t('subject.menu') %></span>
									</a>
								</li>
								<li class=''>
									<a href='/curricular_lines'>
										<i class='icon-caret-right'></i>
										<span><%= t('curricular_line.menu') %></span>
									</a>
								</li>
								<li class=''>
									<a href='/classrooms'>
										<i class='icon-caret-right'></i>
										<span><%= t('classroom.menu') %></span>
									</a>
								</li>
								<li class=''>
									<a href='/time_slots'>
										<i class='icon-caret-right'></i>
										<span><%= t('time_slot.menu') %></span>
									</a>
								</li>
								<li class=''>
									<a href='/careers'>
										<i class='icon-caret-right'></i>
										<span><%= t('career.menu') %></span>
									</a>
								</li>
								<li class=''>
									<a href='/study_plans'>
										<i class='icon-caret-right'></i>
										<span><%= t('study_plan.menu') %></span>
									</a>
								</li>
								<li class=''>
									<a href='/notifications'>
										<i class='icon-caret-right'></i>
										<span><%= t('notification.menu') %></span>
									</a>
								</li>
								<li class=''>
									<a class='dropdown-collapse' href='javascript:void(0);'>
										<i class='icon-folder-open-alt'></i>
										<span>Otros</span>
										<i class='icon-angle-down angle-down'></i>
									</a>
									<ul class='nav nav-stacked'>
										<li>
											<a href='/franchises'>
												<i class='icon-caret-right'></i>
												<span><%= t('franchise.menu') %></span>
											</a>
										</li>
										<li>
											<a href='/campuses'>
												<i class='icon-caret-right'></i>
												<span><%= t('campus.menu') %></span>
											</a>
										</li>
										<li>
											<a href='/countries'>
												<i class='icon-caret-right'></i>
												<span><%= t('country.menu') %></span>
											</a>
										</li>
										<li>
											<a href='/states'>
												<i class='icon-caret-right'></i>
												<span><%= t('state.menu') %></span>
											</a>
										</li>
										<li>
											<a href='/study_levels'>
												<i class='icon-caret-right'></i>
												<span><%= t('study_level.menu') %></span>
											</a>
										</li>
										<li>
											<a href='/degree_achievements_categories'>
												<i class='icon-caret-right'></i>
												<span><%= t('degree_achivements.menu') %></span>
											</a>
										</li>
										<li>
											<a href='/periods'>
												<i class='icon-caret-right'></i>
												<span><%= t('period.menu') %></span>
											</a>
										</li>
										<li>
											<a href='/background_official_docs'>
												<i class='icon-caret-right'></i>
												<span><%= t('background_docs.menu') %></span>
											</a>
										</li>
										<li>
											<a href='/contracts_templates'>
												<i class='icon-caret-right'></i>
												<span><%= t('contract_template.menu') %></span>
											</a>
										</li>
										<li>
											<a href='/official_domains'>
												<i class='icon-caret-right'></i>
												<span><%= t('official_domain.menu') %></span>
											</a>
										</li>
										<li>
											<a href='/relationship_types'>
												<i class='icon-caret-right'></i>
												<span><%= t('relationship.menu') %></span>
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a class='dropdown-collapse ' href='#'>
								<i class='icon-tint'></i>
								<span><%= t('people.plural') %></span>
								<i class='icon-angle-down angle-down'></i>
							</a>
							<ul class='nav nav-stacked'>
								<li class=''>
									<a href='/officers'>
										<i class='icon-caret-right'></i>
										<span><%= t('officer.plural') %></span>
									</a>
								</li>
								<li class=''>
									<a href='/people'>
										<i class='icon-caret-right'></i>
										<span><%= t('people.menu') %></span>
									</a>
								</li>
								<li class=''>
									<a href='/people/new'>
										<i class='icon-caret-right'></i>
										<span><%= t('people.new') %></span>
									</a>
								</li>
								<li class=''>
									<a href='/people/assign_roles'>
										<i class='icon-caret-right'></i>
										<span><%= t('people.assign_roles') %></span>
									</a>
								</li>
								<li class=''>
									<a href='/people/manage_personal_record_file'>
										<i class='icon-caret-right'></i>
										<span><%= t('people.manage_record_file') %></span>
									</a>
								</li>
								<li class=''>
									<a href='/people/new_teacher_dictamination'>
										<i class='icon-caret-right'></i>
										<span><%= t('people.create_teacher_dictamination') %></span>
									</a>
								</li>
								<li class=''>
									<a href='/people/accept_reject_dictamination'>
										<i class='icon-caret-right'></i>
										<span><%= t('people.accept_reject_dictamination') %></span>
									</a>
								</li>
								<li class=''>
									<a href='/people/new_contract'>
										<i class='icon-caret-right'></i>
										<span><%= t('people.create_contract') %></span>
									</a>
								</li>
								<li class=''>
									<a href='/groups/new_enroll_student'>
										<i class='icon-caret-right'></i>
										<span><%= t('people.student_group_enrollment') %></span>
									</a>
								</li>
								<li class=''>
									<a href='/people/export_to_csv'>
										<i class='icon-caret-right'></i>
										<span><%= t('people.export_to_csv') %></span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a class='dropdown-collapse ' href='javascript:void(0);'>
								<i class='icon-tint'></i>
								<span><%= t('groups.plural') %></span>
								<i class='icon-angle-down angle-down'></i>
							</a>
							<ul class='nav nav-stacked'>
								<li class=''>
									<a href='/people/search_group'>
										<i class='icon-search'></i>
                    <span><%= t('people.search_groups') %></span>
									</a>
								</li>
								<li class=''>
									<a href='/study_plans/new'>
										<i class='icon-caret-right'></i>
										<span><%= t('study_plan.new') %></span>
									</a>
								</li>
								<li class=''>
									<a href='/study_plans/enable'>
										<i class='icon-caret-right'></i>
										<span><%= t('study_plan.enable') %></span>
									</a>
								</li>
								<li class=''>
									<a href='/people/new_group'>
										<i class='icon-caret-right'></i>
										<span><%= t('people.create_groups') %></span>
									</a>
								</li>
								<!--<li class=''>
									<a href='fileupload.html'>
										<i class='icon-file'></i>
										<span>Fileupload</span>
									</a>
								</li>
								<li class=''>
									<a href='todo.html'>
										<i class='icon-list-alt'></i>
										<span>Todo list</span>
									</a>
								</li>
								<li class=''>
									<a href='wysiwyg.html'>
										<i class='icon-paste'></i>
										<span>WYSIWYG</span>
									</a>
								</li>
							</ul>
						</li>
						<li class=''>
							<a href='tables.html'>
								<i class='icon-table'></i>
								<span>Tables</span>
							</a>
						</li>
						<li class=''>
							<a href='grid.html'>
								<i class='icon-th'></i>
								<span>Grid</span>
							</a>
						</li>
						<li class=''>
							<a href='type.html'>
								<i class='icon-font'></i>
								<span>Typography</span>
							</a>
						</li>
						<li class=''>
							<a href='calendar.html'>
								<i class='icon-calendar'></i>
								<span>Calendar</span>
							</a>
						</li>
						<li>
							<a class='dropdown-collapse' href='#'>
								<i class='icon-book'></i>
								<span>Example pages</span>
								<i class='icon-angle-down angle-down'></i>
							</a>
							<ul class='nav nav-stacked'>
								<li class=''>
									<a href='invoice.html'>
										<i class='icon-money'></i>
										<span>Invoice</span>
									</a>
								</li>
								<li class=''>
									<a href='gallery.html'>
										<i class='icon-picture'></i>
										<span>Gallery</span>
									</a>
								</li>
								<li class=''>
									<a href='timeline.html'>
										<i class='icon-time'></i>
										<span>Timeline</span>
									</a>
								</li>
								<li class=''>
									<a href='pricing_tables.html'>
										<i class='icon-table'></i>
										<span>Pricing tables</span>
									</a>
								</li>
								<li class=''>
									<a href='user_profile.html'>
										<i class='icon-user'></i>
										<span>User profile</span>
									</a>
								</li>
								<li class=''>
									<a href='err404.html' target='_blank'>
										<i class='icon-question-sign'></i>
										<span>404 Error</span>
									</a>
								</li>
								<li class=''>
									<a href='err500.html' target='_blank'>
										<i class='icon-cogs'></i>
										<span>500 Error</span>
									</a>
								</li>
								<li class=''>
									<a href='sign_in.html' target='_blank'>
										<i class='icon-signin'></i>
										<span>Sign in</span>
									</a>
								</li>
								<li class=''>
									<a href='faq.html'>
										<i class='icon-bullhorn'></i>
										<span>FAQ</span>
									</a>
								</li>
								<li class=''>
									<a href='orders.html'>
										<i class='icon-inbox'></i>
										<span>Orders</span>
									</a>
								</li>
								<li class=''>
									<a href='search_results.html'>
										<i class='icon-search'></i>
										<span>Search results</span>
									</a>
								</li>
								<li class='active'>
									<a href='blank.html'>
										<i class='icon-circle-blank'></i>
										<span>Blank page</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a class='dropdown-collapse ' href='#'>
								<i class='icon-cog'></i>
								<span>Layouts</span>
								<i class='icon-angle-down angle-down'></i>
							</a>
							<ul class='nav nav-stacked'>
								<li class=''>
									<a href='closed_navigation.html'>
										<i class='icon-caret-right'></i>
										<span>Closed navigation</span>
									</a>
								</li>
								<li class=''>
									<a href='fixed_header.html'>
										<i class='icon-caret-right'></i>
										<span>Fixed header</span>
									</a>
								</li>
								<li class=''>
									<a href='fixed_navigation.html'>
										<i class='icon-caret-right'></i>
										<span>Fixed navigation</span>
									</a>
								</li>
								<li class=''>
									<a href='fixed_navigation_and_header.html'>
										<i class='icon-caret-right'></i>
										<span>Fixed navigation & header</span>
									</a>
								</li>
							</ul>
						</li>
						<li class=''>
							<a href='email_templates.html'>
								<i class='icon-mail-reply'></i>
								<span>Email templates</span>
							</a>
						</li>
						<li>
							<a class='dropdown-collapse' href='#'>
								<i class='icon-folder-open-alt'></i>
								<span>Four level dropdown</span>
								<i class='icon-angle-down angle-down'></i>
							</a>
							<ul class='nav nav-stacked'>
								<li>
									<a class='dropdown-collapse' href='#'>
										<i class='icon-caret-right'></i>
										<span>Second level</span>
										<i class='icon-angle-down angle-down'></i>
									</a>
									<ul class='nav nav-stacked'>
										<li>
											<a class='dropdown-collapse' href='#'>
												<i class='icon-caret-right'></i>
												<span>Third level</span>
												<i class='icon-angle-down angle-down'></i>
											</a>
											<ul class='nav nav-stacked'>
												<li>
													<a href='#'>
														<i class='icon-caret-right'></i>
														<span>Fourth level</span>
													</a>
												</li>
												<li>
													<a href='#'>
														<i class='icon-caret-right'></i>
														<span>Another fourth level</span>
													</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</li>-->
					</ul>
					<% end %>
				</div>
			</nav>
			<section id='content'>
				<div class='container'>
					<div class='row' id='content-wrapper'>
						<div class='col-xs-12'>
							<%= render 'layouts/messages' %>
							<%= yield %>
						</div>
					</div>
					<footer id='footer'>
						<div class='footer-wrapper'>
							<div class='row'>
								<div class='col-sm-6 text'>
									Copyright © 2014 FOCIM Control Escolar
								</div>
								<div class='col-sm-6 buttons'>
									<a class="btn btn-link" href="http://www.captivatecnologia.com">Captiva Tecnologia Digital</a>
									<a class="btn btn-link" href="http://www.focim.edu.mx">FOCIM</a>
								</div>
							</div>
						</div>
					</footer>
				</div>
			</section>
		</div>

		<% end %>

	</body>
  <script type='text/javascript'>
    $(document).ready(function(){
      $('#user_active_franchise').change(function(){
        $(this).parents('form').submit();
      });    
    }) 
  </script>
	</html>
