<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= content_for?(:title) ? yield(:title) : "FOCIM Control Escolar BETA" %></title>
	<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Fcescolar" %>">
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<script type="text/javascript">var CKEDITOR_BASEPATH = '/assets/ckeditor/';</script>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= yield :specific_js %>
	<%= csrf_meta_tags %>
</head>

<% if !user_signed_in? %>

<body class='login contrast-background'>
  <%= yield %>
	<% else %>

	<body class='without-footer'>

		<header>
			<%= render 'layouts/navigation' %>
		</header>

		<div id='wrapper'>
			<div id='main-nav-bg'></div>
			<nav id='main-nav'>
				<div class='navigation'>
					<div class='search'>
						<form action='/search' method='get'>
							<div class='search-wrapper'>
                <input value="<%= params[:q] %>" class="search-query form-control" placeholder="Search..." autocomplete="off" name="q" type="text" />
								<button class='btn btn-link icon-search' name='button' type='submit'></button>
							</div>
						</form>
					</div>
					<% if current_user.active_role.present? %>
					<ul class='nav nav-stacked'>
						<li class=''>
							<a href='/'>
								<i class='icon-dashboard'></i>
								<span>Dashboard</span>
							</a>
						</li>
						<li class=''>
							<a class="dropdown-collapse" href="#"><i class='icon-edit'></i>
								<span><%= t('general.catalogues') %></span>
								<i class='icon-angle-down angle-down'></i>
							</a>

							<ul class='nav nav-stacked'>
                <% if can?(:manage, Subject) or can?(:read, Subject) %>
                <li class=''>
									<a href='/subjects'>
										<i class='icon-caret-right'></i>
										<span><%= t('subject.menu') %></span>
									</a>
                </li>
                <% end %>
                <% if can?(:manage, CurricularLine) or can?(:read, CurricularLine) %>
								<li class=''>
									<a href='/curricular_lines'>
										<i class='icon-caret-right'></i>
										<span><%= t('curricular_line.menu') %></span>
									</a>
                </li>
                <% end %>
                <% if can?(:manage, Classroom) or can?(:read, Classroom) %>
								<li class=''>
									<a href='/classrooms'>
										<i class='icon-caret-right'></i>
										<span><%= t('classroom.menu') %></span>
									</a>
                </li>
                <% end %>
                <% if can?(:manage, TimeSlot) or can?(:read, TimeSlot) %>
								<li class=''>
									<a href='/time_slots'>
										<i class='icon-caret-right'></i>
										<span><%= t('time_slot.menu') %></span>
									</a>
                </li>
                <% end %>
                <% if can?(:manage, Career) or can?(:read, Career) %>
								<li class=''>
									<a href='/careers'>
										<i class='icon-caret-right'></i>
										<span><%= t('career.menu') %></span>
									</a>
                </li>
                <% end %>
                <% if can?(:manage, StudyPlan) or can?(:read, StudyPlan) %>
								<li class=''>
									<a href='/study_plans'>
										<i class='icon-caret-right'></i>
										<span><%= t('study_plan.menu') %></span>
									</a>
                </li>
                <% end %>
                <% if can?(:manage, Notification) or can?(:read, Notification) %>
								<li class=''>
									<a href='/notifications'>
										<i class='icon-caret-right'></i>
										<span><%= t('notification.menu') %></span>
									</a>
                </li>
                <% end %>
								<li class=''>
									<a class='dropdown-collapse' href='javascript:void(0);'>
										<i class='icon-folder-open-alt'></i>
										<span>Otros</span>
										<i class='icon-angle-down angle-down'></i>
									</a>
									<ul class='nav nav-stacked'>
                    <% if can?(:manage, Franchise) or can?(:read, Franchise) %>
										<li>
											<a href='/franchises'>
												<i class='icon-caret-right'></i>
												<span><%= t('franchise.menu') %></span>
											</a>
                    </li>
                    <% end %>
                    <% if can?(:manage, Campus) or can?(:read, Campus) %>
										<li>
											<a href='/campuses'>
												<i class='icon-caret-right'></i>
												<span><%= t('campus.menu') %></span>
											</a>
                    </li>
                    <% end %>
                    <% if can?(:manage, Country) or can?(:read, Country) %>
										<li>
											<a href='/countries'>
												<i class='icon-caret-right'></i>
												<span><%= t('country.menu') %></span>
											</a>
                    </li>
                    <% end %>
                    <% if can?(:manage, State) or can?(:read, State) %>
                    <li>
											<a href='/states'>
												<i class='icon-caret-right'></i>
												<span><%= t('state.menu') %></span>
											</a>
                    </li>
                    <% end %>
                    <% if can?(:manage, StudyLevel) or can?(:read, StudyLevel) %>
										<li>
											<a href='/study_levels'>
												<i class='icon-caret-right'></i>
												<span><%= t('study_level.menu') %></span>
											</a>
                    </li>
                    <% end %>
                    <% if can?(:manage, DegreeAchievementsCategory) or can?(:read, DegreeAchievementsCategory) %>
										<li>
											<a href='/degree_achievements_categories'>
												<i class='icon-caret-right'></i>
												<span><%= t('degree_achivements.menu') %></span>
											</a>
                    </li>
                    <% end %>
                    <% if can?(:manage, Period) or can?(:read, Period) %>
										<li>
											<a href='/periods'>
												<i class='icon-caret-right'></i>
												<span><%= t('period.menu') %></span>
											</a>
                    </li>
                    <% end %>
                    <% if can?(:manage, BackgroundOfficialDoc) or can?(:read, BackgroundOfficialDoc) %>
										<li>
											<a href='/background_official_docs'>
												<i class='icon-caret-right'></i>
												<span><%= t('background_docs.menu') %></span>
											</a>
                    </li>
                    <% end %>
                    <% if can?(:manage, ContractsTemplate) or can?(:read, ContractsTemplate) %>
										<li>
											<a href='/contracts_templates'>
												<i class='icon-caret-right'></i>
												<span><%= t('contract_template.menu') %></span>
											</a>
                    </li>
                    <% end %>
                    <% if can?(:manage, OfficialDomain) or can?(:read, OfficialDomain) %>
										<li>
											<a href='/official_domains'>
												<i class='icon-caret-right'></i>
												<span><%= t('official_domain.menu') %></span>
											</a>
                    </li>
                    <% end %>
                    <% if can?(:manage, RelationshipType) or can?(:read, RelationshipType) %>
										<li>
											<a href='/relationship_types'>
												<i class='icon-caret-right'></i>
												<span><%= t('relationship.menu') %></span>
											</a>
                      </li>
                    <% end %>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a class='dropdown-collapse ' href='#'>
								<i class='icon-group'></i>
								<span><%= t('people.plural') %></span>
								<i class='icon-angle-down angle-down'></i>
							</a>
							<ul class='nav nav-stacked'>
                <% if can?(:manage, Officer) or can?(:read, Officer) %>
								<li class=''>
									<a href='/officers'>
										<i class='icon-male'></i>
										<span><%= t('officer.plural') %></span>
									</a>
                </li>
                <% end %>
                <% if can?(:manage, Person) or can?(:read, Person) %>
								<li class=''>
									<a href='/people'>
										<i class='icon-group'></i>
										<span><%= t('people.menu') %></span>
									</a>
                </li>
                <% end %>
                <% if can?(:new, Person) %>
								<li class=''>
									<a href='/people/new'>
										<i class='icon-user'></i>
										<span><%= t('people.new') %></span>
									</a>
                </li>
                <% end %>
                <% if can?(:import, Person) %>
								<li class=''>
									<a href='/people/import'>
										<i class='icon-file-text'></i>
										<span><%= t('people.import') %></span>
									</a>
                </li>
                <% end %>
                <% if can?(:assign_roles, Person) %>
								<li class=''>
									<a href='/people/assign_roles'>
										<i class='icon-bolt'></i>
										<span><%= t('people.assign_roles') %></span>
									</a>
                </li>
                <% end %>
                <% if can?(:manage_personal_record_file, Person) %>
								<li class=''>
									<a href='/people/manage_personal_record_file'>
										<i class='icon-suitcase'></i>
										<span><%= t('people.manage_record_file') %></span>
									</a>
                </li>
                <% end %>
                <% if can?(:new_teacher_dictamination, Person) %>
                <li class=''>
									<a href='/people/new_teacher_dictamination'>
										<i class='icon-certificate'></i>
										<span><%= t('people.create_teacher_dictamination') %></span>
									</a>
                </li>
                <% end %>
                <% if can?(:accept_reject_dictamination, Person) %>
								<li class=''>
									<a href='/people/accept_reject_dictamination'>
										<i class='icon-tint'></i>
										<span><%= t('people.accept_reject_dictamination') %></span>
									</a>
                </li>
                <% end %>
                <% if can?(:new_contract, Person) %>
								<li class=''>
									<a href='/people/new_contract'>
										<i class='icon-legal'></i>
										<span><%= t('people.create_contract') %></span>
									</a>
                </li>
                <% end %>
                <% if can?(:new_enroll_student, Group) %>
								<li class=''>
									<a href='/groups/new_enroll_student'>
										<i class='icon-pushpin'></i>
										<span><%= t('people.student_group_enrollment') %></span>
									</a>
                </li>
                <% end %>
                <% if can?(:export_to_csv, Person) %>
                <li class=''>
									<a href='/people/export_to_csv'>
										<i class='icon-reply-all'></i>
										<span><%= t('people.export_to_csv') %></span>
									</a>
                </li>
                <% end %>
							</ul>
						</li>
						<li>
							<a class='dropdown-collapse ' href='javascript:void(0);'>
								<i class='icon-hdd'></i>
								<span><%= t('groups.plural') %></span>
								<i class='icon-angle-down angle-down'></i>
							</a>
              <ul class='nav nav-stacked'>
                <% if can?(:search_group, Person) %>
								<li class=''>
									<a href='/people/search_group'>
										<i class='icon-search'></i>
                    <span><%= t('people.search_groups') %></span>
									</a>
                </li>
                <% end %>
                <% if can?(:new, StudyPlan) %>
								<li class=''>
									<a href='/study_plans/new'>
										<i class='icon-film'></i>
										<span><%= t('study_plan.new') %></span>
									</a>
                </li>
                <% end %>
                <% if can?(:enable, StudyPlan) %>
								<li class=''>
									<a href='/study_plans/enable'>
										<i class='icon-thumbs-up-alt'></i>
										<span><%= t('study_plan.enable') %></span>
									</a>
                </li>
                <% end %>
                <% if can?(:new_group, Person) %>
								<li class=''>
									<a href='/people/new_group'>
										<i class='icon-plus'></i>
										<span><%= t('people.create_groups') %></span>
									</a>
                </li>
                <% end %>
					</ul>
					<% end %>
				</div>
			</nav>
			<section id='content'>
				<div class='container'>
					<div class='row' id='content-wrapper'>
						<div class='col-xs-12'>
							<%= render 'layouts/messages' %>
							<%= yield %>
						</div>
					</div>
					<footer id='footer'>
						<div class='footer-wrapper'>
							<div class='row'>
								<div class='col-sm-6 text'>
									Copyright © 2014 FOCIM Control Escolar
								</div>
								<div class='col-sm-6 buttons'>
									<a class="btn btn-link" href="http://www.captivatecnologia.com">Captiva Tecnologia Digital</a>
									<a class="btn btn-link" href="http://www.focim.edu.mx">FOCIM</a>
								</div>
							</div>
						</div>
					</footer>
				</div>
			</section>
		</div>

		<% end %>

	</body>
  <script type='text/javascript'>
    $(document).ready(function(){
      $('#user_active_franchise').change(function(){
        $(this).parents('form').submit();
      });    
    }) 
  </script>
	</html>
